<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">comment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'RATE_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <mat-form-field class="form-full-width">
                                <mat-label>{{'RATE_SELECT_SECTION_LABEL' | translate}}</mat-label>
                                <mat-select [value]="selection"  [(ngModel)]="selection" placeholder="Sekcija">
                                    <mat-option *ngFor="let section of sections" [value]="section" (click)="onChangeSelection(section)">{{section}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label *ngIf="selection === 'vina'">{{'RATE_SELECT_WINE_LABEL' | translate}}</mat-label>
                                <mat-label *ngIf="selection === 'vinarije'">{{'RATE_SELECT_WINERY_LABEL' | translate}}</mat-label>
                                <mat-select [value]="selectedResult" [(ngModel)]="selectedResult" placeholder="">
                                    <mat-option *ngFor="let result of results" [value]="result.id" (click)="onChangeResults(result)">{{result.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'RATE_SELECT_FILTER_LABEL' | translate}}</mat-label>
                                <mat-select [(ngModel)]="selectedFilter" placeholder="Filter">
                                    <mat-option value="all" (click)="dataSourceInit()">{{'RATE_SELECT_FILTER_ALL' | translate}}</mat-option>
                                    <mat-option value="approved" (click)="FilterByStatus('approved')">{{'RATE_SELECT_FILTER_APPROVED' | translate}}</mat-option>
                                    <mat-option value="unapproved" (click)="FilterByStatus('unapproved')">{{'RATE_SELECT_FILTER_DEAPPROVED' | translate}}</mat-option>
                                    <mat-option value="hold" (click)="FilterByStatus('hold')">{{'RATE_SELECT_FILTER_HOLD' | translate}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataSource.loading$ | async">
                                <mat-spinner [diameter]="40"></mat-spinner>
                            </div>
                            <mat-table class="events-table mat-elevation-z8" [dataSource]="dataSource">

                                <ng-container matColumnDef="id">

                                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="created_at">

                                    <mat-header-cell *matHeaderCellDef>{{'RATE_TABLE_CREATED' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.created_at}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef>{{'RATE_TABLE_USER_NAME' | translate}}</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.user.full_name}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="comment">

                                    <mat-header-cell *matHeaderCellDef>{{'RATE_TABLE_COMMENT' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.comment}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="rate">

                                    <mat-header-cell *matHeaderCellDef>{{'RATE_TABLE_RATE' | translate}}</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.rate}}</mat-cell>

                                </ng-container>

                                <!-- <ng-container matColumnDef="type">

                                    <mat-header-cell *matHeaderCellDef>Socijalna mreža</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.user.social_type}}</mat-cell>

                                </ng-container> -->
                                <ng-container matColumnDef="status">

                                    <mat-header-cell *matHeaderCellDef>{{'RATE_TABLE_STATUS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <span>
                                            <i matTooltip="{{'TABLES_RATE_STATUS_APPROVED' | translate}}" matTooltipPostion="above" *ngIf="element.status === 'approved'" class="material-icons status-approved">check_circle_outline</i>
                                            <i matTooltip="{{'TABLES_RATE_STATUS_DEAPPROVED' | translate}}" matTooltipPostion="above" *ngIf="element.status === 'unapproved'" class="material-icons status-denied">close</i>
                                            <i matTooltip="{{'TABLES_RATE_STATUS_HOLD' | translate}}" matTooltipPostion="above" *ngIf="element.status === 'hold'" class="material-icons status-hold">alarm</i>
                                        </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">

                                    <mat-header-cell *matHeaderCellDef>{{'RATE_TABLE_DELETE' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onDeleteRate(element.id, element.name)" type="button" rel="tooltip" class="btn btn-just-icon btn-danger"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row matTooltip="{{'TABLES_CLICK_FOR_PREVIEW' | translate}}" matTooltipPosition="above" *matRowDef="let row; columns: displayedColumns" (click)="openSelectedRate($event, row)"></mat-row>

                            </mat-table>

                            <mat-paginator [length]="total" [pageSize]="pageSize"></mat-paginator>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>
<!-- Classic Modal -->
<!-- <button class="btn-rose btn-lg"></button> -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">{{'RATE_PREVIEW_MODAL_CARD_NAME' | translate}}</h4>

                <span class="pull-right"><span class="center">{{'RATE_PREVIEW_MODAL_STATUS' | translate}}</span>
                <span *ngIf="commentRow?.status === 'approved'" id="comment-status-success">{{'RATE_PREVIEW_MODAL_STATUS_LABELS_APPROVED' | translate}} <i class="material-icons status-approved">check_circle_outline</i></span>
                <span *ngIf="commentRow?.status === 'unapproved'" id="comment-status-denied">{{'RATE_PREVIEW_MODAL_STATUS_LABELS_DEAPPROVED' | translate}} <i class="material-icons status-denied">cancel</i></span>
                <span *ngIf="commentRow?.status === 'hold'" id="comment-status-hold">{{'RATE_PREVIEW_MODAL_STATUS_LABELS_HOLD' | translate}}<i class="material-icons status-hold">alarm</i></span>
                </span>
            </div>
            <div class="modal-body">
                <div class="text-left col-md-12">
                    <!-- <div class="row">
                        <div class="col-md-2">
                            <label class="label-on-left">Prijavljen preko</label>
                        </div>
                        <div class="col-md-10">
                            <p><span class="social-type-text" [ngStyle]="{'color':getColor(commentRow?.social_type)}">{{commentRow?.social_type}}</span></p>
                        </div>
                    </div>
                    <hr> -->
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'RATE_PREVIEW_MODAL_NAME' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <p><span class="text-justify">{{commentRow?.full_name}}</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'RATE_PREVIEW_MODAL_COMMENT' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <p><span class="text-justify">{{commentRow?.comment}}</span></p>
                        </div>
                    </div>
                    <hr>
                    <span *ngIf="commentRow?.cover_image !== null">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'RATE_PREVIEW_MODAL_IMAGE' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <div class="fileinput-new thumbnail">
                                <p><img class="swalImage" [src]="commentRow?.cover_image" alt="slika komentara" /></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                </span>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'RATE_PREVIEW_MODAL_CREATED' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <p><span class="text-justify">{{commentRow?.created_at}}</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'RATE_PREVIEW_MODAL_RATE' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <span class="stars"><span [ngStyle]="{ 'width':  getStars(commentRow?.rate === null ? '0' : commentRow?.rate ) }"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="approvedComment()" type="button" class="btn btn-success">{{'RATE_PREVIEW_MODAL_APPROVE_BUTTON_LABEL' | translate}}</button>
                <button (click)="disapprovedComment()" type="button" class="btn btn-danger">{{'RATE_PREVIEW_MODAL_DEAPPROVED_BUTTON_LABEL' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->