.my-mat-header-cell {
    flex: 0 0 20%;
}

.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    max-width: 140px;
}

i.material-icons.status {
    color: lightgray;
}

mat-select {
    z-index: 999;
}

mat-row:hover {
    cursor: pointer;
    background-color: #67676726;
}

.col-md-12.pull {
    text-align: left !important;
}

img {
    user-select: none;
    width: auto !important;
    height: 200px;
}

span.stars,
span.stars span {
    display: block;
    /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.alignright {
    float: right;
}

hr {
    margin-top: 0px;
}

.status-denied {
    color: rgb(255, 0, 0);
}

.status-approved {
    color: rgb(0, 255, 0);
}

.status-hold {
    color: rgb(80, 80, 80);
}

span#comment-status-success {
    color: rgb(0, 255, 0);
    line-height: 50px;
    font-size: 20px;
    font-weight: 200;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

span#comment-status-hold {
    color: rgb(80, 80, 80);
    line-height: 50px;
    font-size: 20px;
    font-weight: 200;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

span#comment-status-denied {
    color: rgb(255, 0, 0);
    line-height: 50px;
    font-size: 20px;
    font-weight: 200;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.social-type-text {
    font-weight: 500;
    font-size: 16px;
}