<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="darkred">
                    <i class="material-icons">pageview</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">{{'EVENTS_REVIEW_CARD_NAME' | translate}}</h4>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 center">
                                    <div *ngIf="coverImage !== null" class="fileinput-new thumbnail">
                                        <label for="logo">{{'IMAGE_COVER_TITLE' | translate}}</label>
                                        <img id="logo" *ngIf="coverImage !== null" [src]="coverImage" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div *ngFor="let language of languages; let i = index" class="panel panel-default">
                                    <div class="panel-heading" role="tab" [id]="'heading-' + language.language_id">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse-' + language.language_id" aria-expanded="true" [attr.aria-controls]="'collapse-' + language.language_id">
                                            <h4 class="panel-title">
                                                {{language.language}} jezik - {{language.fields[1].value}}
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div [id]="'collapse-' + language.language_id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading-' + language.language_id">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <label class="label-on-left">{{'EVENTS_REVIEW_EVENTS_NAME' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p><span class="text-justify">{{language.fields[1].value}}</span></p>
                                                    </div>
                                                </div>
                                                <div *ngIf="language.fields[0].value !== ''" class="col-md-12">
                                                    <div class="col-md-2">
                                                        <label class="label-on-left">{{'EVENTS_REVIEW_EVENTS_DESC' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p><span class="text-justify" [innerHTML]="language.fields[0].value"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- panel end -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'EVENTS_REVIEW_START_DATE_TIME_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify">{{serverData?.start}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'EVENTS_REVIEW_END_DATE_TIME_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify">{{serverData?.end}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'EVENTS_REVIEW_LOCATION_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify">{{serverData?.location}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'EVENTS_REVIEW_LINK_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify"><a href="serverData?.link">{{serverData?.link}}</a></span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'EVENTS_REVIEW_CREATED_AT_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-2">
                                    <p><span class="text-justify">{{serverData?.created_at | date: 'medium'}}</span></p>
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'EVENTS_REVIEW_UPDATED_AT_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-2">
                                    <p><span class="text-justify">{{serverData?.updated_at | date: 'medium'}}</span></p>
                                </div>
                                <div class="pull-right">
                                    <button id="floating-button" matTooltip="{{'EVENTS_REVIEW_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="left" type="button" class="btn btn-rose btn-lg" (click)="editEvent()"><i class="material-icons">edit</i></button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="label-on-left">{{'EVENTS_REVIEW_MAP_LOCATION_TITLE' | translate}}</label>
                                    <agm-map [scrollwheel]="false" [mapDraggable]="true" [latitude]="lat" [longitude]="lng" [zoom]="16">
                                        <agm-marker [markerDraggable]="false" [latitude]="lat" [longitude]="lng"></agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>