<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">notifications</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'PUSH_NOTIFICATIONS_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                        </div>
                        <form [formGroup]="pushForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'PUSH_NOTIFICATIONS_TITLE' | translate}}<span class="star">*</span></mat-label>
                                        <input type="text" matInput placeholder="Naslov" formControlName="title">
                                        <mat-error>
                                            <span *ngIf="pushForm.controls['title'].touched && pushForm.controls['title'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'PUSH_NOTIFICATIONS_TEXT' | translate}}<span class="star">*</span></mat-label>
                                        <input type="text" matInput placeholder="Tekst" formControlName="body">
                                        <mat-error>
                                            <span *ngIf="pushForm.controls['body'].touched && pushForm.controls['body'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <span class="check_critical"><mat-checkbox color="warn" formControlName="critical" >{{'PUSH_NOTIFICATIONS_CHECKBOX_LABEL' | translate}}</mat-checkbox></span>
                                    <mat-form-field>
                                        <mat-label>{{'PUSH_NOTIFICATIONS_SELECT_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select color="warn" placeholder="Izaberite uredjaje" formControlName="device" multiple>
                                            <mat-option value="android">Android</mat-option>
                                            <mat-option value="ios">iOS</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="pushForm.controls['device'].touched && pushForm.controls['device'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <ul>
                                    <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                                </ul>
                                <div class="row">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-rose btn-fill btn-wd" [disabled]="!pushForm.valid">{{'PUSH_NOTIFICATIONS_SEND_BUTTON_LABEL' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>