.form-full-width {
    width: 100%;
}

.check_critical {
    padding-right: 20px;
}

::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
    border: none;
    background-color: #f44336 !important;
}