.mat-column-id {
    flex: 0 0 50px;
}

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    max-width: 140px;
}

.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}