.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    max-width: 140px;
}
.mat-column-options {
    display: flex;
    /*justify-content: flex-end;*/
    max-width: 100px;
}


/** addition padding for ADD button with + icon*/

.btn.btn-lg {
    padding-left: 20px;
    padding-right: 20px;
}
