<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="floating-button" (click)="OnAddUser()" mat-raised-button matTooltip="{{'USERS_ADD_BUTTON_TITLE' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg"> <i class="material-icons">add</i></button>
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'USERS_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <mat-form-field>
                                <mat-label>{{'USERS_DROPDOWN_PLACEHOLDER' | translate}}</mat-label>
                                <mat-select [(ngModel)]="selectedType" placeholder="Filter">
                                    <mat-option value="all" (click)="loadAllUsers()">{{'USERS_DROPDOWN_1_ELEMENT' | translate}}</mat-option>
                                    <mat-option value="user" (click)="FilterByType('user')">{{'USERS_DROPDOWN_2_ELEMENT' | translate}}</mat-option>
                                    <mat-option value="trusted" (click)="FilterByType('trusted')">{{'USERS_DROPDOWN_3_ELEMENT' | translate}}</mat-option>
                                    <mat-option value="admin" (click)="FilterByType('admin')">{{'USERS_DROPDOWN_4_ELEMENT' | translate}}</mat-option>
                                    <mat-option value="winery_admin" (click)="FilterByType('winery_admin')">{{'USERS_DROPDOWN_5_ELEMENT' | translate}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataSource.loading$ | async">

                                <mat-spinner [diameter]="40"></mat-spinner>

                            </div>
                            <mat-table class="winery-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">

                                <ng-container matColumnDef="id">

                                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USERS_TABLE_NAME' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.full_name}}</mat-cell>

                                </ng-container>
                                <ng-container matColumnDef="options">

                                    <mat-header-cell *matHeaderCellDef>{{'USERS_TABLE_USER_TYPE' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element; let i = index">
                                        <mat-select [value]="element.type" placeholder="Odaberite tip">
                                                <mat-option *ngFor="let type of typesList" [value]="type.name" (click)="onSelectUserType(element, type.name, i)">{{type.name}}</mat-option>
                                        </mat-select>
                                    </mat-cell>

                                </ng-container>
                                <ng-container matColumnDef="actions">

                                    <mat-header-cell *matHeaderCellDef>{{'USERS_TABLE_ACTIONS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_EDIT_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="OnEditUser(element.id)" type="button" rel="tooltip" class="btn btn-just-icon btn-success rounded"><i class="material-icons">edit</i></button>
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="OnDeleteUser(element.id, element.full_name)" type="button" rel="tooltip" class="btn btn-just-icon btn-danger rounded"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>

                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                            </mat-table>

                            <mat-paginator [length]="total" [pageSize]="pageSize"></mat-paginator>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>