div#card-article {
    margin-top: 45px;
}

ul.dropdown-menu.dropdown-menu-left {
    cursor: pointer;
}

#langDropdown {
    margin-top: -10px;
    position: absolute;
    width: 95%;
}

i.fcancel.material-icons {
    cursor: pointer;
    z-index: 999;
    color: red;
    font-size: 32px;
    padding: 8px;
}

.form-full-width {
    width: 100%;
}

.form-half-width {
    width: 25%;
}

.center-block {
    text-align: center;
}

span.star.desc-alert {
    font-size: 12px;
    font-weight: 300;
    display: block;
    /*margin-top: -15px;*/
    /*padding-bottom: 5px;*/
}