<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="floating-button" matTooltip="{{'EVENTS_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onAddEvent()" class="btn btn-rose btn-lg"><i class="material-icons">add</i></button>
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'EVENTS_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <mat-form-field class="form-full-width">
                                <mat-select [value]="selectedLanguage" placeholder="{{'LANG_DROPDOWN_TITLE' | translate}}">
                                    <mat-option *ngFor="let language of languages" [value]="language.id" (click)="onChangeLanguage(language.id, language.name)">{{language.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataSource.loading$ | async">

                                <mat-spinner [diameter]="40"></mat-spinner>

                            </div>
                            <mat-table class="events-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">

                                <!-- <ng-container matColumnDef="id">

                                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>

                                </ng-container> -->

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'EVENTS_TABLE_NAME' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.name}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="start">

                                    <mat-header-cell *matHeaderCellDef>{{'EVENTS_TABLE_START_DATE' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.start}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="end">

                                    <mat-header-cell *matHeaderCellDef>{{'EVENTS_TABLE_END_DATE' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.end}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="location">

                                    <mat-header-cell *matHeaderCellDef>{{'EVENTS_TABLE_LOCATION' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.location}}</mat-cell>

                                </ng-container>

                                <!-- <ng-container matColumnDef="link">

                                    <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>

                                    <mat-cell class="my-mat-header-cell description-cell" *matCellDef="let element"><a href="{{element.link}}">{{element.link}}</a> </mat-cell>

                                </ng-container> -->
                                <ng-container matColumnDef="actions">

                                    <mat-header-cell *matHeaderCellDef>{{'EVENTS_TABLE_ACTIONS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_PREVIEW_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onViewEvent(element.id)" type="button" rel="tooltip" class="btn btn-just-icon btn-info"><i class="material-icons">remove_red_eye</i></button>
                                        <button matTooltip="{{'TABLES_EDIT_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onEditEvent(element.id)" type="button" rel="tooltip" class="btn btn-just-icon btn-success"><i class="material-icons">edit</i></button>
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onDeleteEvent(element.id, element.name)" type="button" rel="tooltip" class="btn btn-just-icon btn-danger"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                            </mat-table>

                            <mat-paginator [length]="total" [pageSize]="pageSize"></mat-paginator>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>