/* .mat-column-id {
    flex: 0 0 50px;
} */

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    /* min-width: 200px; */
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

mat-table.events-table.mat-elevation-z8.mat-table {
    max-height: 800px;
}

.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}

mat-cell,
mat-header-cell {
    padding-left: 20px;
}

mat-cell.actions-cell.mat-cell.cdk-column-actions.mat-column-actions.ng-star-inserted {
    min-width: 100px;
}

.my-mat-header-cell {
    flex: 0 0 20%;
}