ul.dropdown-menu.dropdown-menu-left {
  cursor: pointer;
}

div#card-wine {
  margin-top: 45px;
}

mat-form-field {
  width: 100%;
}

div#wine-height > img {
  width: auto;
}

.rec_high-align {
  padding: 0;
  margin: 0;
}

::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  border: none;
  background-color: #f44336 !important;
}

#langDropdown {
  margin-top: -10px;
  position: absolute;
  width: 100%;
}

i.fcancel.material-icons {
  cursor: pointer;
  z-index: 999;
  color: red;
  font-size: 32px;
  padding: 8px;
}

.form-full-width {
  width: 100%;
}

.image-tag {
  font-size: 26px;
}

.fileinput.fileinput-new.text-center {
  width: 100%;
  height: 100%;
}

.fileinput.text-center.fileinput-exists {
  width: auto;
}

.fileinput.thumbnail > img {
  max-height: 340px;
  width: auto;
}

.pull-left {
  width: 100%;
}

div#wine-height img {
  width: auto;
}

/* Rules for sizing the icon. */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

span.star.desc-alert {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: -15px;
    padding-bottom: 5px;
}

legend {
  text-align: left;
}

agm-map {
    height: 600px;
}