<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right">
                    <button id="floating-button" matTooltip="{{'ARTICLES_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onAddArticle()" class="btn btn-rose btn-lg"><i class="material-icons">add</i></button>
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'ARTICLES_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar  -->
                            <mat-form-field class="form-full-width">
                                <mat-select [value]="selectedLanguage" placeholder="{{'LANG_DROPDOWN_TITLE' | translate}}">
                                    <mat-option *ngFor="let language of languages" [value]="language.id" (click)="onChangeLanguage(language.id, language.name)">{{language.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataSource.loading$ | async">

                                <mat-spinner [diameter]="40"></mat-spinner>

                            </div>
                            <mat-table class="events-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">

                                <ng-container matColumnDef="created_at">

                                    <mat-header-cell *matHeaderCellDef>{{'ARTICLES_TABLE_CREATED' | translate}}</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.created_at}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'ARTICLES_TABLE_NAME' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.name}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="text">

                                    <mat-header-cell *matHeaderCellDef>{{'ARTICLES_TABLE_TEXT' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.text}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="link">

                                    <mat-header-cell *matHeaderCellDef>{{'ARTICLES_TABLE_LINK' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element"><a href="{{element.link}}">{{element.link}}</a></mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="actions">

                                    <mat-header-cell class="my-mat-header-cell" *matHeaderCellDef>{{'ARTICLES_TABLE_ACTIONS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_EDIT_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onEditArticle(element.id)" type="button" rel="tooltip" class="btn btn-just-icon btn-success"><i class="material-icons">edit</i></button>
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onDeleteArticle(element.id, element.name)" type="button" rel="tooltip" class="btn btn-just-icon btn-danger"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row matTooltip="{{'TABLES_CLICK_FOR_PREVIEW' | translate}}" matTooltipPosition="above" *matRowDef="let row; columns: displayedColumns" (click)="openSelectedArticle($event, row)"></mat-row>

                            </mat-table>

                            <mat-paginator [length]="total" [pageSize]="pageSize"></mat-paginator>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-6 -->
            <!-- <div class=" col-sm-12 col-md-6 col-lg-6 add">
                <router-outlet></router-outlet>
            </div> -->
        </div>
        <!-- end row -->
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                <h4 class="modal-title">{{'ARTICLES_REVIEW_MODAL_CARD_NAME' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="text-left col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'ARTICLES_REVIEW_MODAL_TITLE' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <p><span class="text-justify">{{articleRow?.name}}</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'ARTICLES_REVIEW_MODAL_TEXT' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <p><span class="text-justify" [innerHTML]="articleRow?.text"></span></p>
                        </div>
                    </div>
                    <hr>
                    <span *ngIf="articleRow?.image_path !== null">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="" class="label-on-left">{{'ARTICLES_REVIEW_MODAL_IMAGE' | translate}}</label>
                            </div>
                            <div class="col-md-10">
                                <div class="fileinput-new thumbnail">
                                    <p><img class="swalImage" [src]="articleRow?.image_path" alt="slika komentara" /></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </span>
                    <div *ngIf="articleRow?.link !== null" class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'ARTICLES_REVIEW_MODAL_LINK' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <p><span class="text-justify"><a href="{{articleRow?.link}}">{{articleRow?.link}}</a></span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="label-on-left">{{'ARTICLES_REVIEW_MODAL_CREATED_AT' | translate}}</label>
                        </div>
                        <div class="col-md-10">
                            <p><span class="text-justify">{{articleRow?.created_at}}</span></p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-rose">{{'ARTICLES_REVIEW_BUTTON_LABEL' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->