mat-cell.description-cell.mat-cell.cdk-column-text.mat-column-text.ng-star-inserted {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

mat-cell.actions-cell.mat-cell.cdk-column-actions.mat-column-actions.ng-star-inserted {
    text-align: right;
    z-index: 998;
}

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    /* min-width: 200px; */
}

mat-row:hover {
    cursor: pointer;
    background-color: #67676726;
}

img {
    user-select: none;
    width: 100% !important;
    height: 200px;
}

hr {
    margin-top: 0px;
}

.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}