<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="card">
                    <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'USERS_ADD_CARD_NAME' | translate}}</h4>

                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_ADD_USER_NAME_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input type="text" matInput placeholder="{{'USERS_ADD_USER_NAME_PLACEHOLDER' | translate}}" formControlName="full_name">
                                <mat-error>
                                    <span *ngIf="userForm.controls.full_name.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                </mat-error>
                            </mat-form-field>


                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_ADD_USER_EMAIL_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input type="email" matInput placeholder="{{'USERS_ADD_USER_EMAIL_PLACEHOLDER' | translate}}" formControlName="email">
                                <mat-error>
                                    <span *ngIf="userForm.controls.email.hasError('required') && userForm.controls.email.touched" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                    <span *ngIf="userForm.controls.email.hasError('pattern')" [innerHTML]="'ADDONS_USERS_FIELD_EMAIL_PATTERN' | translate"></span>
                                    <span *ngIf="userForm.controls.email.invalid  && userForm.controls.email.touched"><strong>{{errorEmail}}</strong></span>
                                </mat-error>
                            </mat-form-field>


                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_ADD_USER_PASSWORD_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input [type]="hide ? 'password' : 'text'" matInput placeholder="{{'USERS_ADD_USER_PASSWORD_PLACEHOLDER' | translate}}" formControlName="password">
                                <mat-icon matTooltip="{{'USERS_ADD_TOOLTIP_EYE' | translate}}" matTooltipPosition="above" matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error>
                                    <span *ngIf="userForm.controls.password.hasError('required') && userForm.controls.password.touched" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                    <span *ngIf="userForm.controls.password.invalid"><strong>{{errorPasswordLength}}</strong></span>
                                    <span *ngIf="userForm.controls.password.hasError('pattern')" [innerHTML]="'ADDONS_USERS_FIELD_PASSWORD_MISS_PATTERN' | translate"></span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_ADD_USER_PASSWORD_CONFIRM_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input type="password" matInput placeholder="{{'USERS_ADD_USER_PASSWORD_CONFIRM_PLACEHOLDER' | translate}}" formControlName="confirmPassword">
                                <mat-error>
                                    <span *ngIf="userForm.controls.confirmPassword.hasError('required') && userForm.controls.confirmPassword.touched" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                    <span *ngIf="userForm.controls.confirmPassword.hasError('equalTo')" [innerHTML]="'ADDONS_USERS_FIELD_CONFIRM_PASSWORD_NOT_EQUAL' | translate"></span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'USERS_ADD_USER_SELECT_TYPE_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </mat-label>
                                            <mat-select formControlName="type" placeholder="odaberite regiju">
                                                <mat-option *ngFor="let type of listOfTypes" [value]="type.name" (click)="onSelectAdminType(type.id, type.name)">{{type.name}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="userForm.controls.type.touched && userForm.controls.type.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                </span>
                                            </mat-error>
                            </mat-form-field>
                            <mat-form-field *ngIf="isWineryAdmin || !isAdminLogged">
                                <mat-label>{{'USERS_ADD_USER_SELECT_WINERIES_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </mat-label>
                                            <mat-select formControlName="wineries" multiple>
                                                <mat-option *ngFor="let winery of listOfWineries" [value]="winery.id">{{winery.name}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="userForm.controls.wineries.touched && userForm.controls.wineries.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                </span>
                                            </mat-error>
                            </mat-form-field>
                            <div class="category form-category">
                                <ul>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_LONG_LABEL' | translate}}</li>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_LOW_CASE_LABEL' | translate}}</li>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_UPPER_CASE_LABEL' | translate}}</li>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_NUMBER_LABEL' | translate}}</li>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_SPECIAL_CHAR_LABEL' | translate}}</li>
                                    <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                                </ul>
                            </div>
                            <div class=" form-footer text-right">
                                <div class="form-group ">
                                    <button type="submit" class="btn btn-rose btn-fill btn-wd" [disabled]="!userForm.valid">{{'USERS_ADD_REGISTER_BUTTON_LABEL' | translate}}</button>
                                    <button type="button" class="btn btn-rose btn-simple pull-left" (click)="goBack()">{{'USERS_ADD_BACK_BUTTON_LABEL' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>