<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="eventForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="col-md-offset-1 col-md-10">
                    <div class="dropdown" *ngIf="eventForm.controls['items']['controls']['length'] == 0">
                        <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                            <li *ngFor="let lang of langs">
                                <a (click)="addItem(lang)">{{ lang.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div formArrayName="items" *ngFor="let item of eventForm.controls['items']['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">language</i>
                                </div>
                                <div class="pull-right remove-btn">
                                    <h4 class="card-title" matTooltip="{{'LANG_DELETE_TOOLTIP' | translate}}" matTooltipPosition="left"><i (click)="onRemoveLangs(item.controls.language_name.value , item.controls.language.value ,  i)" class="fcancel material-icons">delete_sweep</i></h4>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">{{item.controls['language_name'].value}}</h4>
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="row">
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'EVENTS_ADD_EVENTS_NAME' | translate}}<span class="star">*</span></mat-label>
                                                <input type="text" matInput placeholder="{{'EVENTS_ADD_EVENTS_NAME_PLACEHOLDER' | translate}}" formControlName="name">
                                                <mat-error>
                                                    <span *ngIf="item.controls['name'].touched && item.controls['name'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="row">
                                            <label for="quill-editor">{{'EVENTS_ADD_EVENTS_DESC' | translate}}<span class="star">*</span></label>
                                            <quill-editor id="quill-editor" [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'EVENTS_ADD_EVENTS_DESC_PLACEHOLDER' | translate}}" formControlName="description"></quill-editor>
                                            <span class="star desc-alert" *ngIf="item.controls['description'].touched && item.controls['description'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                            <!-- <mat-form-field class="form-full-width">
                                                <mat-label>Opis dešavanja<span class="star">*</span></mat-label>
                                                <textarea matInput type="text" placeholder="Opis..." formControlName="description"></textarea>
                                                <mat-error>
                                                    <span *ngIf="item.controls['description'].touched && item.controls['description'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                                </mat-error>
                                            </mat-form-field> -->
                                        </div>
                                        <div class="row radio-buttons">
                                            <mat-radio-group>
                                                <mat-radio-button (click)="isDisabled(true, i)" [value]=true>{{'EVENTS_ADD_RADIO_BUTTON_LINK' | translate}}</mat-radio-button>
                                                <mat-radio-button (click)="isDisabled(false ,i)" [value]=false>{{'EVENTS_ADD_RADIO_BUTTON_DESC' | translate}}</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div id="langDropdown" class="dropdown" *ngIf="eventForm.get('items').controls.length == i+1 && langs.length !== 0">
                                            <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                                <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                                                <li *ngFor="let lang of langs">
                                                    <a (click)="addItem(lang)">{{ lang.name }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <div id="card-event" class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'EVENTS_ADD_CARD_NAME' | translate}}</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="pull-left">
                                            <legend>{{'IMAGE_COVER_TITLE' | translate}}</legend>
                                        </div>
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                <img src="./assets/img/placeholder-cover.jpg" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-rose btn-block btn-file">
                                          <span class="fileinput-new">{{'BUTTONS_ADD_COVER' | translate}}</span>
                                                <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                                <input (change)="onUploadCover($event)" type="file" name="cover_image" />
                                                </span>
                                                <a href="#" #coverPath class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-1 col-md-7">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <mat-form-field>
                                                    <mat-label>{{'EVENTS_ADD_EVENTS_START_DATE_LABEL' | translate}}<span class="star">*</span></mat-label>
                                                    <input matInput [matDatepicker]="dp" placeholder="{{'EVENTS_ADD_EVENTS_START_DATE_PLACEHOLDER' | translate}}" formControlName="start" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                                                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                                    <mat-datepicker #dp></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field class="form-half-width">
                                                    <mat-label>{{'EVENTS_ADD_EVENTS_START_TIME_LABEL' | translate}}<span class="star">*</span></mat-label>
                                                    <input matInput type="text" placeholder="Vreme" class="timepicker">
                                                </mat-form-field>
                                            </div>
                                            <div class="row">
                                                <mat-form-field>
                                                    <mat-label>{{'EVENTS_ADD_EVENTS_END_DATE_LABEL' | translate}}<span class="star">*</span></mat-label>
                                                    <input matInput [min]="minDate" [matDatepicker]="dp2" placeholder="{{'EVENTS_ADD_EVENTS_END_DATE_PLACEHOLDER' | translate}}" formControlName="end">
                                                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                                    <mat-datepicker #dp2></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field class="form-half-width">
                                                    <mat-label>{{'EVENTS_ADD_EVENTS_END_TIME_LABEL' | translate}}<span class="star">*</span></mat-label>
                                                    <input matInput type="text" placeholder="Vreme" class="timepicker">
                                                </mat-form-field>
                                            </div>
                                            <div class="row">
                                                <mat-form-field>
                                                    <mat-label>{{'EVENTS_ADD_EVENTS_LINK_LABEL' | translate}}<span class="star">*</span></mat-label>
                                                    <input matInput type="text" placeholder="{{'EVENTS_ADD_EVENTS_LINK_PLACEHOLDER' | translate}}" formControlName="link">
                                                    <mat-error>
                                                        <span *ngIf="eventForm.controls['link'].touched && eventForm.controls['link'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                                        <span *ngIf="eventForm.controls['link'].touched && eventForm.controls['link'].hasError('pattern')" [innerHTML]="'ADDONS_WEB_FIELD_PATTERN' | translate">
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <button id="floating-button" matTooltip="{{'EVENTS_ADD_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" type="submit" class="btn btn-rose btn-fill btn-wd" [disabled]="!eventForm.valid"><i class="material-icons">save</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">location_on</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">{{'EVENTS_ADD_EVENTS_LOCATION_CARD_NAME' | translate}}</h4>
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'EVENTS_ADD_EVENTS_ADDRESS_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <input matInput type="text" placeholder="{{'EVENTS_ADD_EVENTS_ADDRESS_PLACHOLDER' | translate}}" formControlName="location" #address>
                                        <mat-error>
                                            <span *ngIf="eventForm.controls['location'].touched && eventForm.controls['location'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                    <agm-map [scrollwheel]="false" [mapDraggable]="'true'" [zoom]="16" (mapClick)="onChoseLocation($event)" [latitude]="lat" [longitude]="lng">
                                        <agm-marker [markerDraggable]="true" [latitude]="lat" [longitude]="lng"></agm-marker>
                                    </agm-map>
                                </div>
                                <ul>
                                    <li [innerHTML]="'EVENTS_ADD_LOCATION_TIPS' | translate"></li>
                                    <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>