<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">image</i>
                    </div>
                    <legend class="pull-left">{{'IMAGE_COVER_TITLE' | translate}}</legend>
                    <div class="card-content center">
                        <div style="text-align: center;" class="col-md-12">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="./assets/img/placeholder-cover.jpg" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-rose btn-file">
                                                <span class="fileinput-new">{{'BUTTONS_ADD_COVER' | translate}}</span>
                                    <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                    <input type="file" name="..." (change)="onFileChange($event)" />
                                    </span>
                                    <a href="#asdas" #pathImg class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="addWinePathForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="col-md-8">
                    <div formArrayName="languages" class="border-devider">
                        <div *ngFor="let lng of addWinePathForm.controls['languages']['controls']; let i=index">
                            <div class="card" [formGroupName]="i">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">text_format</i>
                                </div>
                                <div matTooltip="{{'BUTTONS_DELETE_LANG_TOOLTIP' | translate}}" matTooltipPosition="left" class="pull-right remove-btn" *ngIf="i !== 0" (click)="removeLanguage($event, i, lng.controls['language_id'].value)">
                                    <i class="material-icons">
                                                delete_sweep
                                            </i>
                                </div>
                                <div class="card-content">
                                    <h4 *ngFor="let lang of languagesArray" [hidden]="lang.id !== lng.controls['language_id'].value" class="card-title">{{'WINE_PATH_EDIT_LANG_NAME_TITLE' | translate}} ( {{ lang.name }} )</h4>
                                    <div class="form-group label-floating">
                                        <label for="" class="control-label">{{'WINE_PATH_EDIT_WINE_PATH_NAME' | translate}}
                                                    <span class="star">*</span>
                                                </label>
                                        <input type="text" class="form-control" formControlName="value" required>
                                        <small class="text-danger" *ngIf="lng.controls['value'].hasError('required') && lng.controls['value'].touched" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></small>
                                    </div>
                                    <ul>
                                        <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                                <div class="dropdown" *ngIf="addWinePathForm.controls['languages']['length'] !== languagesArray.length">
                                    <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}
                                                <b class="caret"></b>
                                            </button>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li *ngFor="let lang of languagesArray" [hidden]="usedLanguages[lang.id] == lang.id">
                                            <a (click)="addLanguage(lang.id)">{{ lang.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button id="floating-button" matTooltip="{{'WINE_PATH_ADD_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" [disabled]="!addWinePathForm.valid" type="submit" class="btn btn-rose"><i class="material-icons">save</i></button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'WINE_PATH_ADD_WINE_PATH_MAP_TITLE' | translate}}</h4>
                        <div id="map_demo">
                        </div>
                        <ul>
                            <li><strong>{{'WINE_PATH_ADD_WINE_PATH_MAP_TIP' | translate}}</strong></li>
                            <li>{{'WINE_PATH_ADD_WINE_PATH_MAP_TIP2' | translate}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{'WINE_PATH_ADD_SEARCH_POI_LABEL' | translate}}</label>
                            <input [(ngModel)]="searchText" type="text" placeholder="{{'WINE_PATH_ADD_SEARCH_POI_PLACEHOLDER' | translate }}" class="form-control">
                            <ul class="searchText">
                                <li *ngFor="let p of pointsOfInterest | filter : searchText">
                                    <span (click)="addPathFromSearch(p)">{{ p.name }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <ul class="path-list" [dragula]='"points-bag"' [dragulaModel]='pointsArray'>
                        <li *ngFor="let point of pointsArray; let i = index" (mouseenter)="bounceMarker(i)">
                            <span><i class="material-icons drag_indicator">drag_indicator</i></span>
                            <span class="letter">{{ point.letter }}</span>
                            <div class="form-group label-floating">
                                <label class="control-label">{{'WINE_PATH_ADD_WINE_PATH_POI_NAME_LABEL' | translate}}</label>
                                <input type="text" placeholder="Naziv tačke" [(ngModel)]="point.name" [value]="point.name" class="form-control" ngDefaultControl>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">{{'WINE_PATH_ADD_WINE_PATH_ADDRESS_LABEL' | translate}}</label>
                                <input type="text" placeholder="Adresa" [(ngModel)]="point.address" [value]="point.address" class="form-control">
                            </div>
                            <div class="form-group label-floating select">
                                <label class="control-label">{{'WINE_PATH_ADD_WINE_PATH_TYPE_LABEL' | translate}}</label>
                                <select class="form-control" [(ngModel)]="point.type">
                                <!--<option [value]="" ngDefaultControl>-</option>-->
                                <option *ngFor="let type of placeTypes" [value]="type.id" [selected]="type.name === point.type" ngDefaultControl>{{type.name}}</option>
                            </select>
                            </div>
                            <button  matTooltip="{{'WINE_PATH_ADD_WINE_PATH_REMOVE_POI_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-danger btn-xs btn-simple" (click)="removePoint(i, pointsArray)">
                            <i class="material-icons">clear</i>
                        </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>