.input-group {
    width: 100%;
}

.form-full-width {
    width: 100%;
}

.logo {
    height: 100px;
}

.logo-img {
    height: 100%;
    text-align: center;
}

img.center-logo {
    height: 100%;
    position: relative;
}

.prefix-align {
    padding-right: 5px;
}