<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <!--  <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button> 
            </div>
                 <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/dashboard">
                            <i class="material-icons">dashboard</i> Dashboard
                        </a>
                    </li>
                    <li class="">
                        <a href="/pages/register">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class=" active ">
                        <a href="/pages/login">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                    <li class="">
                        <a href="/pages/lock">
                            <i class="material-icons">lock_open</i> Lock
                        </a>
                    </li>
                </ul>
            </div> -->
            <div class="logo">
                <div class="logo-img">
                    <img class="center-logo" src="./assets/img/vinovojologo.png" />
                </div>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black" data-image="./assets/img/login2.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="darkred">
                                    <h4 class="card-title">{{'LOGIN_CARD_TITLE' | translate}}</h4>
                                    <!-- <div class="social-line">
                                        <a href="#btn" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#eugen" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div> -->
                                </div>
                                <!-- <p class="category text-center">
                                    Or Be Classical
                                </p> -->
                                <div class="card-content">
                                    <!-- <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="material-icons">face</i>
                                      </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">First Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div> -->
                                    <div class="input-group">
                                        <mat-form-field class="form-full-width">
                                            <mat-label>{{'LOGIN_EMAIL_LABEL' | translate}}</mat-label>
                                            <input type="email" matInput placeholder="{{'LOGIN_EMAIL_PLACEHOLDER' | translate}}" formControlName="email">
                                            <span class="prefix-align" matPrefix><i class="material-icons">email</i></span>
                                            <mat-error>
                                                <span *ngIf="loginForm.controls.email.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                                <span *ngIf="loginForm.controls.email.hasError('pattern')" [innerHTML]="'ADDONS_USERS_FIELD_EMAIL_PATTERN' | translate"></span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="input-group">
                                        <mat-form-field class="form-full-width">
                                            <mat-label>{{'LOGIN_PASSWORD_LABEL' | translate}}</mat-label>
                                            <input type="password" matInput placeholder="{{'LOGIN_PASSWORD_PLACEHOLDER' | translate}}" formControlName="password">
                                            <span matPrefix class="prefix-align"><i class="material-icons">lock_outline</i></span>
                                            <mat-error>
                                                <span *ngIf="loginForm.controls.password.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-rose btn-outline-danger">{{'LOGIN_BUTTON_TITLE' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <!-- <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                              Home
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Company
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Portfolio
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Blog
                          </a>
                        </li>
                    </ul>
                </nav> -->
                <p class="copyright pull-right">
                    &copy; {{test | date: 'yyyy'}}
                    <!-- <a href="https://www.itcentar.rs">ItCentar Solutions</a>, made with love for a better web -->
                </p>
            </div>
        </footer>
    </div>
</div>