<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'POI_EDIT_POI_MAP_TITLE' | translate}}</h4>
                        <div id="map_demo"></div>
                        <ul>
                            <li><strong [innerHTML]="'POI_EDIT_POI_MAP_TIP' | translate"></strong></li>
                            <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
            <div class="col-md-6">
                <form [formGroup]="editPoiForm" (ngSubmit)="onSubmit()" novalidate>

                    <div formArrayName="languages" class="border-devider">
                        <div *ngFor="let lng of editPoiForm.controls['languages']['controls']; let i=index">
                            <div class="card" [formGroupName]="i">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">text_format</i>
                                </div>
                                <div matTooltip="{{'LANG_DELETE_TOOLTIP' | translate}}" matTooltipPosition="left" class="pull-right remove-btn" *ngIf="i !== 0" (click)="removeLanguage($event, i, lng.controls['language_id'].value)">
                                    <i class="material-icons">
                                        delete_sweep
                                    </i>
                                </div>
                                <div class="card-content">
                                    <h4 *ngFor="let lang of languagesArray" [hidden]="lang.id !== lng.controls['language_id'].value" class="card-title">{{'POI_EDIT_LANG_NAME_TITLE' | translate}} ( {{ lang.name }} )</h4>
                                    <div class="form-group label-floating">
                                        <label for="" class="control-label">{{'POI_EDIT_POI_NAME' | translate}}
                                            <span class="star">*</span>
                                        </label>
                                        <input type="text" class="form-control" formControlName="value" required>
                                        <small class="text-danger" *ngIf="lng.controls['value'].hasError('required') && lng.controls['value'].touched" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 pull-right">
                                <div class="dropdown" *ngIf="editPoiForm.controls['languages']['controls']['length'] !== languagesArray.length">
                                    <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}
                                        <b class="caret"></b>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li *ngFor="let lang of languagesArray" [hidden]="usedLanguages[lang.id] == lang.id">
                                            <a (click)="addLanguage(lang.id)">{{ lang.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="address">{{'POI_EDIT_POI_ADDRESS_LABEL' | translate}}</label>
                                <input type="text" placeholder="{{'POI_EDIT_POI_ADDRESS_LABEL' | translate}}" formControlName="address" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="col-md-12">
                            <div class="form-group select">
                                <label class="control-label" for="">{{'POI_EDIT_POI_TYPE_LABEL' | translate}}</label>
                                <select class="form-control" formControlName="type">
                                <!--<option [value]="" ngDefaultControl>-</option>-->
                                <option *ngFor="let type of placeTypes" [selected]="type.id === data.type" value="{{type.id}}">{{type.name}}</option>
                            </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button id="floating-button" matTooltip="{{'POI_EDIT_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" type="submit" [disabled]="!editPoiForm.valid" class="btn btn-rose"><i class="material-icons">save</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>