#map_demo {
    height: 600px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.remove-btn {
    cursor: pointer;
    z-index: 999;
    color: red;
    font-size: 32px;
    padding: 8px;
}

.dropdown {
    cursor: pointer;
}