<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'TRANSLATE_ADD_CARD_NAME' | translate}}</h4>
                        <button id="floating-button" (click)="onSubmit()" mat-raised-button matTooltip="{{'TRANSLATE_SAVE_BUTTON_LABEL' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg" [disabled]="!mobileLangTableForm.valid || !frontEndLangTableForm.valid || !langName.valid || !langCode.valid"> <i class="material-icons">save</i></button>
                        <mat-form-field class="form-full-width">
                            <mat-label>{{'TRANSLATE_LANG_NAME_LABEL' | translate}}
                            </mat-label>
                            <input [(ngModel)]="name" matInput #langName="ngModel" type="text" required>
                            <mat-error>
                                <span *ngIf="langName.invalid && (langName.dirty || langName.touched)" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="flag-dropdown">
                            <mat-label>{{'TRANSLATE_LANG_CODE_LABEL' | translate}} (RS,EN,ES,GB,US..)</mat-label>
                            <mat-icon><img *ngIf="flag_name !== ''" class="flag-image-dropdown" [src]="'./assets/img/flags/' + flag_name + '.png'" alt=""></mat-icon>
                            <mat-select [(ngModel)]="flag_name" #flag_code="ngModel" required>
                                <mat-option (click)="onSelectFlag(flag)" [value]="flag" *ngFor="let flag of listOfFlags">
                                    <img class="flag-image" [src]="'./assets/img/flags/' + flag + '.png'" alt="">{{flag}}
                                </mat-option>
                            </mat-select>
                             <mat-error>
                                <span *ngIf="flag_code.invalid && (langName.dirty || flag_code.touched)" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="code">
                            <mat-label>{{'TRANSLATE_LANG_CODE_LABEL' | translate}} (RS,EN,ES,GB,US..)
                            </mat-label>
                            <input [(ngModel)]="code" style="text-transform:uppercase" maxlength="2" matInput type="text" #langCode="ngModel" required>
                            <mat-error>
                                <span *ngIf="langCode.invalid && (langCode.dirty || langCode.touched)" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                            </mat-error>
                        </mat-form-field>
                        <div class="panel-group form-full-width" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne" (click)="onTabSelect()">
                                        <h4 class="panel-title">{{'TRANSLATE_ADD_MOBILE_TAB_TITLE' | translate}}<i class="material-icons">keyboard_arrow_down</i></h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <form [formGroup]="mobileLangTableForm" novalidate #mobileForm="ngForm">
                                            <div class="material-datatables table-responsive">
                                                <!-- <div class="loading_spinner" *ngIf="dataSource.loading$ | async"> -->
                                                <!-- <mat-spinner [diameter]="40"></mat-spinner> -->
                                                <!-- </div> -->
                                                <!--  <mat-table class="events-table mat-elevation-z8" [dataSource]="mobileDataSource">
                                                    <ng-container matColumnDef="key">
                                                        <mat-header-cell *matHeaderCellDef>Kljuc</mat-header-cell>
                                                        <mat-cell class="description-cell" *matCellDef="let element">{{element.key}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="value">
                                                        <mat-header-cell *matHeaderCellDef>Primer prevoda</mat-header-cell>
                                                        <mat-cell class="description-cell" *matCellDef="let element">{{element.value}}</mat-cell>
                                                    </ng-container>
                                                    <ng-container matColumnDef="input">
                                                        <mat-header-cell *matHeaderCellDef>Prevod</mat-header-cell>
                                                        <mat-cell class="description-cell" *matCellDef="let element">
                                                            <mat-form-field class="form-full-width">
                                                                <mat-label>{{element.value}}
                                                                    <span class="star">*</span>
                                                                </mat-label>
                                                                <input matInput type="text" formControlName="{{element.key}}">
                                                            </mat-form-field>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                                </mat-table> -->
                                                <table>
                                                    <tr>
                                                        <th>{{'TRANSLATE_ADD_TABLE_KEY_NAME' | translate}}</th>
                                                        <th>{{'TRANSLATE_ADD_TABLE_EXAMPLE' | translate}}</th>
                                                        <th>{{'TRANSLATE_ADD_TABLE_INPUT' | translate}}</th>
                                                    </tr>
                                                    <tr *ngFor="let item of mobileDataSource">
                                                        <td class="translate-key">{{item.key}}</td>
                                                        <td class="translate-example">{{item.value}}</td>
                                                        <td class="translate-input">
                                                            <mat-form-field class="form-full-width">
                                                                <mat-label>{{item.value}}
                                                                    <span class="star">*</span>
                                                                </mat-label>
                                                                <input matInput type="text" formControlName="{{item.key}}">
                                                            </mat-form-field>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--  <button id="floating-button" type="submit" mat-raised-button matTooltip="Dodaj sortu" matTooltipPosition="above" class="btn btn-rose btn-lg"> <i class="material-icons">save</i></button> -->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseTwo" (click)="onTabSelect()">
                                        <h4 class="panel-title">{{'TRANSLATE_ADD_FRONT_END_TAB_TITLE' | translate}}<i class="material-icons">keyboard_arrow_down</i></h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <form [formGroup]="frontEndLangTableForm" novalidate #frontEndForm="ngForm">
                                            <div class="material-datatables table-responsive">
                                                <!-- <mat-table class="events-table mat-elevation-z8" [dataSource]="frontEndDataSource">
                                            <ng-container matColumnDef="key">
                                                <mat-header-cell *matHeaderCellDef>Kljuc</mat-header-cell>
                                                <mat-cell class="description-cell" *matCellDef="let element">{{element.key}}</mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="value">
                                                <mat-header-cell *matHeaderCellDef>Primer prevoda</mat-header-cell>
                                                <mat-cell class="description-cell" *matCellDef="let element">{{element.value}}</mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="input">
                                                <mat-header-cell *matHeaderCellDef>Prevod</mat-header-cell>
                                                <mat-cell class="description-cell" *matCellDef="let element">
                                                    <mat-form-field class="form-full-width">
                                                        <mat-label>{{element.value}}
                                                            <span class="star">*</span>
                                                        </mat-label>
                                                        <input matInput type="text" formControlName="{{element.key}}">
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                        </mat-table> -->
                                                <table>
                                                    <tr>
                                                        <td>{{'TRANSLATE_ADD_TABLE_KEY_NAME' | translate}}</td>
                                                        <td>{{'TRANSLATE_ADD_TABLE_EXAMPLE' | translate}}</td>
                                                        <td>{{'TRANSLATE_ADD_TABLE_INPUT' | translate}}</td>
                                                    </tr>
                                                    <tr *ngFor="let item of frontEndDataSource">
                                                        <td class="translate-key">{{item.key}}</td>
                                                        <td class="translate-example">{{item.value}}</td>
                                                        <td class="translate-input">
                                                            <mat-form-field class="form-full-width">
                                                                <mat-label>{{item.value}}
                                                                    <span class="star">*</span>
                                                                </mat-label>
                                                                <input matInput type="text" formControlName="{{item.key}}">
                                                            </mat-form-field>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end content -->
                </div>
                <!--  end card -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>