.mat-column-input {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.form-full-width {
    width: 100%;
    padding-top: 10px;
}

tr {
    border-bottom: 1px solid lightgray;
}

.translate-input {
    width: 100%;
}

td.translate-key {
    float: left;
    display: block;
    vertical-align: middle;
    width: 250px;
    word-wrap: break-word;
    padding-right: 10px;
    padding-top: 25px;
    margin: auto;
}

.translate-example {
    width: 30%;
}

img.flag-image {
    height: 17px;
    width: 23px;
}

img.flag-image-dropdown {
    display: block;
}

.flag-dropdown {
    width: 100px;
}

mat-icon {

    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 5px;
}

mat-select {
    display: inline-table;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 50px;
    margin-left: 50px;
}

mat-form-field.code {
    display: none;
}