.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    max-width: 140px;
}
.mat-column-options {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
i.material-icons {
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
i.material-icons.no-pointer {
    cursor: help;
}