<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="floating-button" (click)="OnAddWine()" class="btn btn-rose btn-lg" matTooltip="{{'WINES_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above"><i class="material-icons">add</i></button>
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'WINES_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <mat-form-field class="form-full-width">
                                <mat-label>{{'LANG_DROPDOWN_TITLE' | translate}}</mat-label>
                                <mat-select [value]="selectedLanguage" placeholder="{{'LANG_DROPDOWN_TITLE' | translate}}">
                                    <mat-option *ngFor="let language of languages" [value]="language.id" (click)="onChangeLanguage(language.id, language.name)">{{language.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataSource.loading$ | async">

                                <mat-spinner [diameter]="40"></mat-spinner>

                            </div>
                            <mat-table class="winery-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'WINES_TABLE_NAME' | translate}}</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="harvest_year">

                                    <mat-header-cell *matHeaderCellDef>{{'WINES_TABLE_HARVEST_YEAR' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.harvest_year}}</mat-cell>

                                </ng-container>
                                <ng-container matColumnDef="winery_name">

                                    <mat-header-cell *matHeaderCellDef>{{'WINES_TABLE_WINERY_NAME' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.winery_name}}</mat-cell>

                                </ng-container>
                                <ng-container matColumnDef="options">

                                        <mat-header-cell *matHeaderCellDef>{{'WINES_TABLE_OPTIONS' | translate}}</mat-header-cell>
    
                                        <mat-cell class="description-cell" *matCellDef="let element">
                                            <i matTooltip="{{'TABLES_RECOMMENDED_TOOLTIP' | translate}}" matTooltipPosition="above" *ngIf="element.recommended === 1" (click)="setRecommended(element.id, element)" class="material-icons text-warning">star</i>
                                            <i matTooltip="{{'TABLES_RECOMMENDED_TOOLTIP' | translate}}" matTooltipPosition="above" *ngIf="element.recommended === 0" (click)="setRecommended(element.id, element)" class="material-icons text-warning">star_border</i>

                                            <i matTooltip="{{'TABLES_HIGHLIGHTED_TOOLITP' | translate}}" matTooltipPosition="above" *ngIf="element.highlighted === 1" (click)="setHighlighted(element.id, element)" class="material-icons star">flag</i>
                                            <i matTooltip="{{'TABLES_HIGHLIGHTED_TOOLITP' | translate}}" matTooltipPosition="above" *ngIf="element.highlighted === 0" (click)="setHighlighted(element.id, element)" class="material-icons star">outlined_flag</i>
                                        </mat-cell>
    
                                    </ng-container>
                                <ng-container matColumnDef="actions">

                                    <mat-header-cell *matHeaderCellDef>{{'WINES_TABLE_ACTIONS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_PREVIEW_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onViewWine(element.id)" type="button" rel="tooltip" class="btn btn-just-icon btn-info rounded"><i class="material-icons">remove_red_eye</i></button>
                                        <button matTooltip="{{'TABLES_EDIT_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="OnEditWine(element.id)" type="button" rel="tooltip" class="btn btn-just-icon btn-success rounded"><i class="material-icons">edit</i></button>
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="OnDeleteWine(element.id, element.name)" type="button" rel="tooltip" class="btn btn-just-icon btn-danger rounded"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>

                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                            </mat-table>

                            <mat-paginator [length]="total" [pageSize]="pageSize"></mat-paginator>
                        </div>
                         <div class="col-md-6">
                            <ul>
                            <li><i class="material-icons no-pointer">star</i> - {{'TABLES_IS_RECOMMENDED_TOOLTIP' | translate}}</li>
                            <li><i class="material-icons no-pointer">star_border</i> - {{'TABLES_IS_NOT_RECOMMENDED_TOOLTIP' | translate}}</li>
                        </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                            <li><i class="material-icons no-pointer">flag</i> - {{'TABLES_IS_HIGHLIGHTED_TOOLTIP' | translate}}</li>
                            <li><i class="material-icons no-pointer">outlined_flag</i> - {{'TABLES_IS_NOT_HIGHLIGHTED_TOOLTIP' | translate}}</li>
                        </ul>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>P