div.drop-container {
    height: 250px;
    position: relative;
    display: block;
    text-align: center;
}

div.icon-wrapper {
    height: 60px;
    width: 60px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 40%;*/
}

div.icon-wrapper>i.material-icons {
    /*padding-top: 100%;*/
    /*width: 40%;*/
}

.active {
    border: 4px solid #920000;
    color: #920000;
    transition: color 0.3s ease-in-out;
}

.not-active {
    border: 4px dashed gray;
}

.upload_text {
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.inputfile:active {
    border: 1px solid #920000;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    color: inherit;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.inputfile:focus+label,
.inputfile+label:hover {
    cursor: pointer;
    background-color: #920000;
    color: #fff;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
    -webkit-transition: color .3s linear;
    transition: color .3s linear;
}

.inputfile+label {
    border: 1px solid #920000;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 18px;
    /*margin-top: 20px;*/
    text-align: center;
    /* "hand" cursor */
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.filelist-wrapper {
    padding-top: 15px;
    display: inline-block;
    position: relative;
    width: 33%;
}

.uploaded-list {
    background-color: gray;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

ul>li>i.material-icons {
    cursor: pointer;
    color: red;
}

.lang-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.lang-container:hover {
    cursor: pointer;
    background-color: #8a8a8a47;
}
.lang-container:hover .download-btn{
   opacity: 1;
}

.image-wrapper {
    width: 160px;
    display: block;
    padding: 5px;
}

.download-btn {
    position: absolute;
    width: 40px;
    left: 0;
    top: 0;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.mat-icon {
    right: 0;
}

i.material-icons.star.delete-language {
    position: absolute;
    z-index: 999;
    top: 0;
    padding-top: 10px;
    padding-right: 2px;
    right: 0;
    display: none;
}

::ng-deep div.mat-tab-label-active div.mat-tab-label-content i.material-icons.star.delete-language {
    display: block !important;
}