<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="floating-button" (click)="onAddNewLang()" mat-raised-button matTooltip="{{'TRANSLATE_ADD_BUTTON_LABEL' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg"> <i class="material-icons">add</i></button>
                    <!--  <button id="floating-above-button" (click)="onEditLang()" type="submit" mat-raised-button matTooltip="Uredi jezik" matTooltipPosition="above" class="btn btn-rose btn-lg"> <i class="material-icons">edit</i></button> -->
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'TRANSLATE_CARD_NAME' | translate}}</h4>
                        <mat-tab-group>
                            <mat-tab *ngFor="let lang of languages; let i = index" label="{{lang.name}}">
                                <ng-template mat-tab-label>
                                    <span>{{lang.name}}</span><i (click)="removeLanguage(lang.name, lang.id, i)" class="material-icons star delete-language">delete_sweep</i>
                                </ng-template>
                                <app-language-table languageName="{{lang.name}}" languageID="{{lang.id}}"></app-language-table>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <!-- end content -->
                </div>
                <!--  end card -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>