<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="darkred">
                    <i class="material-icons">pageview</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">{{'WINE_PREVIEW_CARD_NAME' | translate}}</h4>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 center">
                                    <div class="fileinput-new thumbnail">
                                        <label for="logo">{{'IMAGE_BOTTLE_TITLE' | translate}}</label>
                                        <img class="img-responsive" id="logo" *ngIf="coverImage !== null" [src]="coverImage" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div *ngFor="let language of languages; let i = index" class="panel panel-default">
                                    <div class="panel-heading" role="tab" [id]="'heading-' + language.language_id">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse-' + language.language_id" [attr.aria-controls]="'collapse-' + language.language_id">
                                            <h4 class="panel-title">
                                                {{language.language}} jezik - {{language.fields[1].value}}
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div [id]="'collapse-' + language.language_id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading-' + language.language_id">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <label class="label-on-left">{{'WINE_PREVIEW_WINE_NAME' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p><span class="text-justify">{{language.fields[1].value}}</span></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <label class="label-on-left">{{'WINE_PREVIEW_WINE_DESC' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p><span class="text-justify" [innerHTML]="language.fields[0].value"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- panel end -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINE_PREVIEW_RECOMMENDED_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p *ngIf="serverData?.recommended === 1"><span class="text-justify">{{'WINE_PREVIEW_YES' | translate}}</span></p>
                                    <p *ngIf="serverData?.recommended === 0"><span class="text-justify">{{'WINE_PREVIEW_NO' | translate}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINE_PREVIEW_WINE_SORT_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p *ngFor="let name of className"><span class="text-justify">{{name}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                    <div class="col-md-2">
                                        <label for="" class="label-on-left">{{'WINE_PREVIEW_REGION_LABEL' | translate}}</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p><span class="text-justify">{{regionName}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="" class="label-on-left">{{'WINE_PREVIEW_REON_LABEL' | translate}}</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p><span class="text-justify">{{reonName}}</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="" class="label-on-left">{{'WINE_PREVIEW_VINOGORJE_LABEL' | translate}}</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p><span class="text-justify">{{vinogorjeName}}</span></p>
                                    </div>
                                </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINE_PREVIEW_WINE_CATEGORY_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p *ngIf="categoryName !== undefined"><span class="text-justify">{{categoryName}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINE_PREVIEW_WINERY_NAME_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p *ngIf="wineryName !== undefined"><span class="text-justify">{{wineryName}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINE_PREVIEW_AVG_RATE_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p> <span class="stars">
                                        <span [ngStyle]="{ 'width': getStars(serverData?.rate === null ? '0' : serverData?.rate ) }"></span></span>
                                        {{serverData?.rate === null ? 0 : serverData?.rate | number: '1.1-1'}}, broj ocena: {{serverData?.rate_count}}
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINE_PREVIEW_CREATE_AT_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-2">
                                    <p><span class="text-justify">{{serverData?.created_at | date: 'medium'}}</span></p>
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINE_PREVIEW_UPDATE_AT_LABEL' | translate}}</label>
                                </div>
                                <div class="col-md-2">
                                    <p><span class="text-justify">{{serverData?.updated_at | date: 'medium'}}</span></p>
                                </div>
                                <div class="pull-right">
                                    <button id="floating-button" matTooltip="{{'WINE_PREVIEW_COMMENT_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="left" type="button" class="btn btn-rose btn-lg" (click)="listOfComments()"><i class="material-icons">comment</i></button>
                                </div>
                                <div class="pull-right">
                                    <button id="floating-above-button" matTooltip="{{'WINE_PREVIEW_EDIT_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="left" type="button" class="btn btn-rose btn-lg" (click)="editWines()"><i class="material-icons">edit</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>