.form-full-width {
  width: 100%;
}

#langDropdown {
  margin-top: -10px;
  position: absolute;
  width: 100%;
}

i.fcancel.material-icons {
  cursor: pointer;
  z-index: 999;
  color: red;
  font-size: 32px;
  padding: 8px;
}

.rec_high-align {
  padding: 0;
  margin: 0;
}

::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  border: none;
  background-color: #f44336 !important;
}

ul.dropdown-menu.dropdown-menu-left {
  cursor: pointer;
}

#card-wine {
  margin-top: 45px;
}

.image-tag {
  font-size: 26px;
}

.fileinput .thumbnail > img {
  max-height: 340px;
  width: auto;
}

.fileinput.fileinput-new.text-center {
  width: 100%;
}

.fileinput.text-center.fileinput-exists {
  width: 100%;
}

span.star.desc-alert {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: -15px;
    padding-bottom: 5px;
}

.save-button-container {
    display: block;
    height: 65px;
    box-sizing: border-box;
}

agm-map {
    height: 600px;
}