<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="wineForm" novalidate (ngSubmit)="onSubmit()">
                <div class="col-md-offset-1 col-md-10">
                    <div formArrayName="items" *ngFor="let item of wineForm.controls['items']['controls']; let i = index;">
                        <div [formGroupName]="i">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="card">
                                        <div class="card-header card-header-icon" data-background-color="darkred">
                                            <i class="material-icons">language</i>
                                        </div>
                                        <div class="pull-right remove-btn">
                                            <h4 class="card-title" matTooltip="{{'LANG_DELETE_TOOLTIP' | translate}}" matTooltipPosition="left"><i (click)="onRemoveLangs(item.controls.language_name.value , item.controls.language_id.value ,  i)" class="fcancel material-icons">delete_sweep</i></h4>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="card-title">{{item.controls['language_name'].value}}</h4>
                                            <div class="col-md-offset-1 col-md-10">
                                                <div class="row">
                                                    <mat-form-field class="form-full-width">
                                                        <mat-label>{{'WINES_EDIT_WINE_NAME' | translate}}<span class="star">*</span></mat-label>
                                                        <input (change)="unsave()" matInput placeholder="{{'WINES_EDIT_WINE_NAME_PLACEHOLDER' | translate}}" formControlName="wineName">
                                                        <mat-error>
                                                            <span *ngIf="item.controls['wineName'].touched && item.controls['wineName'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="row">
                                                    <label for="quill-editor">{{'WINES_EDIT_WINE_DESC' | translate}}<span class="star">*</span></label>
                                                    <div id="padding-texteditor">
                                                        <quill-editor id="quill-editor" [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'WINES_EDIT_WINE_DESC_PLACEHOLDER' | translate}}" formControlName="wineDesc"></quill-editor>
                                                    </div>
                                                    <span class="star desc-alert" *ngIf="item.controls['wineDesc'].touched && item.controls['wineDesc'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>

                                                    <!-- <mat-form-field class="form-full-width">
                                                        <mat-label>Opis vina<span class="star">*</span></mat-label>
                                                        <textarea matInput (change)="unsave()" placeholder="Opis..." rows="5" formControlName="wineDesc"></textarea>
                                                        <mat-error>
                                                            <span *ngIf="item.controls['wineDesc'].touched && item.controls['wineDesc'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                                        </mat-error>
                                                    </mat-form-field> -->
                                                    <div *ngIf="item.controls['flag'].value == 1" class="save-button-container">
                                                        <button type="button" (click)="onSaveLanguage(item)" class="btn btn-rose btn-fill btn-wd pull-right" [disabled]="!item.valid || saved">{{'LANG_SAVE_BUTTON_TITLE' | translate}}</button>
                                                    </div>
                                                    <div id="langDropdown" class="dropdown" *ngIf="wineForm.get('items').controls.length == i+1 && languagesData.length !== 0">
                                                        <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                                                        <ul class="dropdown-menu dropdown-menu-left">
                                                            <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                                                            <li *ngFor="let lang of languagesData">
                                                                <a (click)="addItem(lang)">{{ lang.name }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="dropdown" *ngIf="wineForm.controls['items']['controls'].length == 0">
                                <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                                    <li *ngFor="let lang of languagesData">
                                        <a (click)="addItem(lang)">{{ lang.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="card-wine" class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'WINES_EDIT_CARD_NAME' | translate}}</h4>
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="pull-left">
                                        <legend>{{'IMAGE_EXAMPLE' | translate}}</legend>
                                    </div>
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img src="./assets/img/placeholder-177x600.png" alt="example bottle image">
                                        </div>
                                        <label class="image-tag">100x340</label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="pull-left">
                                        <legend>{{'IMAGE_BOTTLE_TITLE' | translate}}<span class="star">*</span></legend>
                                    </div>
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img *ngIf="bottleImage !== null" [src]="bottleImage" alt="bottle image">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-rose btn-block btn-file">
                                            <span class="fileinput-new">{{'BUTTONS_ADD_IMAGE' | translate}}</span>
                                            <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                            <input (change)="onUploadWineImage($event)" type="file" name="logo_image" />
                                            </span>
                                            <a href="#" #bottlePath class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4">
                                    <ul>
                                        <li><strong>{{'WINES_ADD_WINE_REQUIREMENTS_MSG_BACKGROUND_IMAGE' | translate}}</strong></li>
                                        <ul>
                                            <li><strong>{{'WINES_ADD_WINE_REQUIREMENTS_MSG_FORMAT_IMAGE' | translate}}</strong></li>
                                        </ul>
                                        <li><strong>{{'WINES_ADD_WINE_REQUIREMENTS_MSG_RESOLUTION_IMAGE' | translate}}</strong></li>
                                    </ul>
                                    <div class="checkbox-radios pull-left">
                                        <div class="radio">
                                            <mat-radio-group formControlName="background" [value]="wineForm.controls['background'].value">
                                                <mat-radio-button [value]="1"><strong>{{'WINES_ADD_IMAGE_BACKGROUND_YES' | translate}}</strong></mat-radio-button><br/>
                                                <mat-radio-button [value]="0"><strong>{{'WINES_ADD_IMAGE_BACKGROUND_NO' | translate}}</strong></mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                                <div class="col-md-12">
                                        <div class="col-md-4 rec_high-align">
                                            <mat-checkbox color="warn" formControlName="recommended">{{'WINES_ADD_RECOMMENDED_LABEL' | translate}}</mat-checkbox>
                                        </div>
                                        <div class="col-md-4 rec_high-align">
                                            <mat-checkbox color="warn" formControlName="highlighted">{{'WINES_ADD_HIGHLIGHTED_LABEL' | translate}}</mat-checkbox>
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'WINES_ADD_WINE_SORT_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select placeholder="Sorta" formControlName="classes" multiple>
                                            <mat-option *ngFor="let class of classes" matTooltip="{{class.description}}" matTooltipPosition="above" [value]="class">{{class.name}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="wineForm.controls['classes'].touched && wineForm.controls['classes'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'WINES_ADD_CLASSIFICATION_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select formControlName="classification_id" [value]="wineForm.controls.classification_id.value" placeholder="Odaberite sertifikat vina">
                                            <mat-option *ngFor="let classification of classificationList" [style.background-color]="classification.colour" matTooltip="{{classification.description}}" matTooltipPosition="above" [value]="classification.id">{{classification.name}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="wineForm.controls['classes'].touched && wineForm.controls['classes'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'WINES_ADD_WINE_CATEGORY_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select formControlName="category_id" [value]="wineForm.controls['category_id'].value" placeholder="Kategorija">
                                            <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="wineForm.controls['category_id'].touched && wineForm.controls['category_id'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'WINES_ADD_WINERY_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select formControlName="winery_id" [value]="wineForm.controls['winery_id'].value" placeholder="Vinarija">
                                            <mat-option *ngFor="let winery of wineryList" [value]="winery.id">{{winery.name}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="wineForm.controls['winery_id'].touched && wineForm.controls['winery_id'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-4">
                                            <!-- lista regija -->
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'WINES_ADD_REGION_LIST_LABEL' | translate}}
                                                    <span class="star">*</span>
                                                </mat-label>
                                                <mat-select formControlName="listOfRegions" [value]="wineForm.controls['listOfRegions'].value" placeholder="odaberite regiju">
                                                    <mat-option *ngFor="let region of regionsList" [value]="region.id" (click)="dropdownValueRegion(region.id)">{{region.name}}</mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <span *ngIf="wineForm.controls['listOfRegions'].touched && wineForm.controls['listOfRegions'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <!-- lista reona -->
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'WINES_ADD_REON_LIST_LABEL' | translate}}
                                                    <span class="star">*</span>
                                                </mat-label>
                                                <mat-select formControlName="listOfReons" [value]="wineForm.controls['listOfReons'].value" placeholder="odaberite regiju">
                                                    <mat-option *ngFor="let reon of reonsList" [value]="reon.id" (click)="dropdownValueReon(reon.id)">{{reon.name}} {{reon.type}}</mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <span *ngIf="wineForm.controls['listOfReons'].touched && wineForm.controls['listOfReons'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <!-- lista vingorja -->
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'WINES_EDIT_VINOGORJE_LIST_LABEL' | translate}}
                                                    <span class="star">*</span>
                                                </mat-label>
                                                <mat-select formControlName="listOfVinogorja" [value]="wineForm.controls['listOfVinogorja'].value" placeholder="odaberite regiju">
                                                    <mat-option *ngFor="let vinogorje of vinogorjaList" [value]="vinogorje.id" (click)="dropdownValueVinogorje(vinogorje.id)">{{vinogorje.name}} {{vinogorje.type}}</mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <span *ngIf="wineForm.controls['listOfVinogorja'].touched && wineForm.controls['listOfVinogorja'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'WINES_EDIT_HARVEST_YEAR_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <input matInput type="number" placeholder="{{'WINES_EDIT_HARVEST_YEAR_PLACEHOLDER' | translate}}" formControlName="harvest_year">
                                        <mat-error>
                                            <span *ngIf="wineForm.controls['harvest_year'].touched && wineForm.controls['harvest_year'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'WINES_EDIT_ALCOHOL_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <input matInput type="number" placeholder="{{'WINES_EDIT_ALCOHOL_PLACEHOLDER' | translate}} (&#37;)" formControlName="alcohol">
                                        <span matSuffix>&#37;</span>
                                        <mat-error>
                                            <span *ngIf="wineForm.controls['alcohol'].touched && wineForm.controls['alcohol'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'WINES_EDIT_TEMP_SERVING_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <input matInput type="number" placeholder="{{'WINES_EDIT_TEMP_SERVING_PLACEHOLDER' | translate}} (&#8451;)" formControlName="serving_temp">
                                        <span matSuffix>&#8451;</span>
                                        <mat-error>
                                            <span *ngIf="wineForm.controls['serving_temp'].touched && wineForm.controls['serving_temp'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <ul>
                                    <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <button id="floating-button" type="submit" matTooltip="{{'WINES_EDIT_EDIT_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-fill btn-wd" [disabled]="!wineForm.valid"><i class="material-icons">save</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>