<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="articleForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="col-md-offset-1 col-md-10">
                    <div class="dropdown" *ngIf="articleForm.controls['items']['controls']['length'] == 0">
                        <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                            <li *ngFor="let lang of langs">
                                <a (click)="addItem(lang)">{{ lang.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div formArrayName="items" *ngFor="let item of articleForm.controls['items']['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">language</i>
                                </div>
                                <div class="pull-right remove-btn">
                                    <h4 matTooltip="{{'LANG_DELETE_TOOLTIP' | translate}}" matTooltipPosition="left" class="card-title"><i (click)="onRemoveLangs(item.controls.language_name.value , item.controls.language_id.value ,  i)" class="fcancel material-icons">delete_sweep</i></h4>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">{{item.controls['language_name'].value}}</h4>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'ARTICLES_EDIT_ARTICLES_NAME_LABEL' | translate}}<span class="star">*</span></mat-label>
                                                <input type="text" matInput placeholder="{{'ARTICLES_EDIT_ARTICLES_NAME_PLACEHOLDER' | translate}}" formControlName="name">
                                                <mat-error>
                                                    <span *ngIf="item.controls['name'].touched && item.controls['name'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="row ">
                                            <label for="padding-texteditor">{{'ARTICLES_EDIT_ARTICLES_TEXT_LABEL' | translate}}<span class="star">*</span></label>
                                            <div id="padding-texteditor">
                                                <quill-editor [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'ARTICLES_EDIT_ARTICLES_TEXT_PLACEHOLDER' | translate}}" formControlName="text"></quill-editor>
                                            </div>
                                            <span class="star desc-alert" *ngIf="item.controls['text'].touched && item.controls['text'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>

                                            <!-- <mat-form-field class="form-full-width">
                                                <mat-label>Tekst</mat-label>
                                                <textarea matInput type="text" placeholder="Tekst članka..." formControlName="text"></textarea>
                                                <mat-error>
                                                </mat-error>
                                            </mat-form-field> -->
                                            <span matPrefix>
                                                    <mat-checkbox color="warn" (change)="textCheckboxStatus($event, i)">{{'ARTICLES_EDIT_DISABLE_CHECKBOX_LABEL' | translate}}</mat-checkbox>
                                                </span>
                                        </div>
                                        <div class="row">
                                            <button type="button" *ngIf="item.controls['flag'].value == 1" (click)="onSaveLanguage(item)" class="btn btn-rose btn-fill btn-wd pull-right" [disabled]="!item.valid || saved">{{'LANG_SAVE_BUTTON_TITLE' | translate}}</button>
                                        </div>
                                        <div id="langDropdown" class="dropdown" *ngIf="articleForm.get('items').controls.length == i+1 && langs.length !== 0">
                                            <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                                <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                                                <li *ngFor="let lang of langs">
                                                    <a (click)="addItem(lang)">{{ lang.name }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <div id="card-article" class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'ARTICLES_EDIT_CARD_NAME' | translate}}</h4>

                            <div class="row center-block">
                                <legend>{{'IMAGE_COVER_TITLE' | translate}}</legend>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img *ngIf="coverImage !== null" [src]="coverImage" alt="...">
                                        <img *ngIf="coverImage === null" src="./assets/img/placeholder-cover.jpg" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                        <span class="btn btn-rose btn-block btn-file">
                                                            <span class="fileinput-new">{{'BUTTONS_ADD_COVER' | translate}}</span>
                                        <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                        <input (change)="onUploadCover($event)" type="file" name="cover_image" />
                                        </span>
                                        <a href="#" #coverPath class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'ARTICLES_EDIT_ARTICLES_LINK_LABEL' | translate}}<span class="star">*</span></mat-label>
                                        <input matInput type="text" placeholder="{{'ARTICLES_EDIT_ARTICLES_LINK_PLACEHOLDER' | translate}}" formControlName="link">
                                        <mat-error>
                                            <span *ngIf="articleForm.controls['link'].touched && articleForm.controls['link'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                            <span *ngIf="articleForm.controls['link'].touched && articleForm.controls['link'].hasError('pattern')" [innerHTML]="'ADDONS_WEB_FIELD_PATTERN' | translate">
                                                        </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <ul>
                                <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <button id="floating-button" matTooltip="{{'ARTICLES_EDIT_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" type="submit" class="btn btn-rose btn-fill btn-wd" [disabled]="!articleForm.valid"><i class="material-icons">save</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>