.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

mat-table.winery-table.mat-elevation-z8.mat-table {
    max-height: 800px;
}

.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    max-width: 140px;
}

mat-cell,
mat-header-cell {
    padding-left: 20px;
}

.btn.btn-lg {
    padding-left: 20px;
    padding-right: 20px;
}
.mat-column-options {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
i.material-icons {
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
i.material-icons.no-pointer {
    cursor: help;
}