<div class="logo">
    <div class="logo-normal">
        <a href="#" class="simple-text">
                   Vino Vojo
                </a>
    </div>

    <div class="logo-img">
        <img src="./assets/img/vinovojologo.png" />
    </div>
</div>


<div class="sidebar-wrapper">

    <div class="user">
        <div class="photo">
            <img src="./assets/img/default_avatar.png" />
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                            {{user}}
                            <b class="caret"></b>
                        </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <!-- <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">MP</span>
                            <span class="sidebar-normal">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">EP</span>
                            <span class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li> -->
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">S</span>
                            <span class="sidebar-normal" (click)="onEditLoggedUser()">{{'SIDEBAR_USER_SETTTINGS_TITLE' | translate}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">L</span>
                            <span class="sidebar-normal" (click)="onLogout()">{{'SIDEBAR_USER_LOGOUT_TILE' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="isNotMobileMenu()">
       <!--  <form class="navbar-form navbar-right" role="search">
            <div class="form-group form-search is-empty">
                <input class="form-control" placeholder="Search" type="text">
                <span class="material-input"></span>
                <span class="material-input"></span>
            </div>
            <button class="btn btn-white btn-round btn-just-icon" type="submit">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
        </form> -->
        <ul class="nav nav-mobile-menu">
            <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="material-icons">dashboard</i>
                    <p class="hidden-lg hidden-md">Dashboard</p>
                    <div class="ripple-container"></div>
                </a>
            </li> -->
            <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p class="hidden-lg hidden-md">
                        Notifications
                        <b class="caret"></b>
                    </p>
                    <div class="ripple-container"></div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Mike John responded to your email</a>
                    </li>
                    <li>
                        <a href="#">You have 5 new tasks</a>
                    </li>
                    <li>
                        <a href="#">You're now friend with Andrew</a>
                    </li>
                    <li>
                        <a href="#">Another Notification</a>
                    </li>
                    <li>
                        <a href="#">Another One</a>
                    </li>
                </ul>
            </li> -->
           <!--  <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p class="hidden-lg hidden-md">Profil</p>
                    <div class="ripple-container"></div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a (click)="onEditLoggedUser()">{{'SIDEBAR_USER_SETTTINGS_TITLE' | translate}}</a>
                    </li>
                    <li>
                        <a (click)="onLogout()">{{'SIDEBAR_USER_LOGOUT_TILE' | translate}}</a>
                    </li>
                </ul>
            </li> -->
             <li class="dropdown language-dropdown-minimalize">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img [src]="'./assets/img/flags/' + flag_name + '.png'" alt="">{{language_name}}
                        </a>
                <ul class="dropdown-menu">
                    <li *ngFor="let lang of listOfLanguages">
                        <a (click)="onChangeLanguage(lang.id, lang.name)"><img src="./assets/img/flags/GB.png" alt="">{{lang.name}}</a>
                    </li>
                </ul>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[0].path]">
                    <i class="{{menuItems[0].icon}}">dashboard</i>
                    <p [innerHTML]="'SIDEBAR_CONTROL_BOARD_TITLE' | translate">{{menuItems[0].title}}</p>
                </a>
            </li>
            <li *ngIf="!isWineryAdmin" routerLinkActive="active">
                <a [routerLink]="[menuItems[1].path]">
                    <i class="{{menuItems[1].icon}}">supervisor_account</i>
                    <p [innerHTML]="'SIDEBAR_USERS_TITLE' | translate">{{menuItems[1].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[2].path]">
                    <i class="{{menuItems[2].icon}}">store</i>
                    <p [innerHTML]="'SIDEBAR_WINERY_TITLE' | translate">{{menuItems[2].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[3].path]">
                    <i class="{{menuItems[3].icon}}">local_bar</i>
                    <p [innerHTML]="'SIDEBAR_WINES_TITLE' | translate">{{menuItems[3].title}}</p>
                </a>
            </li>

            <li *ngIf="!isWineryAdmin" routerLinkActive="active">
                <a [routerLink]="[menuItems[4].path]">
                    <i class="{{menuItems[4].icon}}">event</i>
                    <p [innerHTML]="'SIDEBAR_EVENTS_TITLE' | translate">{{menuItems[4].title}}</p>
                </a>
            </li>

            <li *ngIf="!isWineryAdmin" routerLinkActive="active">
                <a [routerLink]="[menuItems[5].path]">
                    <i class="{{menuItems[5].icon}}">timeline</i>

                    <p [innerHTML]="'SIDEBAR_WINE_PATH_TITLE' | translate">{{menuItems[5].title}}</p>
                </a>
            </li>

            <li *ngIf="!isWineryAdmin" routerLinkActive="active">
                <a [routerLink]="[menuItems[6].path]">
                    <i class="{{menuItems[6].icon}}">place</i>

                    <p [innerHTML]="'SIDEBAR_POINT_OF_INTEREST_TITLE' | translate">{{menuItems[6].title}}</p>
                </a>
            </li>

            <li *ngIf="!isWineryAdmin" routerLinkActive="active">
                <a [routerLink]="[menuItems[7].path]">
                    <i class="{{menuItems[7].icon}}">description</i>

                    <p [innerHTML]="'SIDEBAR_ARTICLES_TITLE' | translate">{{menuItems[7].title}}</p>
                </a>
            </li>

            <li routerLinkActive="active">
                <a [routerLink]=" [menuItems[8].path] ">
                    <i class="{{menuItems[8].icon}} ">comment</i>

                    <p [innerHTML]="'SIDEBAR_COMMENTS_TITLE' | translate">{{menuItems[8].title}}</p>
                </a>
            </li>

            <li *ngIf="!isWineryAdmin" routerLinkActive="active ">
                <a [routerLink]="[menuItems[9].path] ">
                    <i class="{{menuItems[9].icon}} ">notifications</i>
                    <p [innerHTML]="'SIDEBAR_PUSH_NOTIFICATIONS_TITLE' | translate">{{menuItems[9].title}}</p>
                </a>
            </li>
            <li *ngIf="!isWineryAdmin" routerLinkActive="active">
                <a data-toggle="collapse" href="#settings">
                    <i class="material-icons">grid_on</i>
                    <p>{{'SIDEBAR_SETTINGS_TITLE' | translate}}
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="settings">
                    <ul class="nav">
                        <li routerLinkActive="active">
                            <a [routerLink]="[menuItems[10].path]">
                                <span class="sidebar-mini">VR</span>
                                <span class="sidebar-normal" [innerHTML]="'SIDEBAR_SETTINGS_REGIONS_TITLE' | translate">{{menuItems[10].title}}</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="[menuItems[11].path]">
                                <span class="sidebar-mini">VV</span>
                                <span class="sidebar-normal" [innerHTML]="'SIDEBAR_SETTINGS_WINE_TYPE_TITLE' | translate">{{menuItems[11].title}}</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="[menuItems[12].path]">
                                <span class="sidebar-mini">SO</span>
                                <span class="sidebar-normal" [innerHTML]="'SIDEBAR_SETTINGS_WINE_SORT_TITLE' | translate">{{menuItems[12].title}}</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="[menuItems[13].path]">
                                <span class="sidebar-mini">JZ</span>
                                <span class="sidebar-normal" [innerHTML]="'SIDEBAR_SETTINGS_LANGUAGE_TITLE' | translate">{{menuItems[13].title}}</span>
                            </a>
                        </li> 
                    </ul>
                </div>
            </li>
            <!--
            <li routerLinkActive="active ">
                <a [routerLink]="[menuItems[10].path] ">
                    <i class="{{menuItems[10].icon}} ">settings</i>

                    <p>{{menuItems[10].title}}</p>
                </a>
            </li> -->
        </ul>
    </div>
</div>