<div class="main-content">
    <div class="col-md-12">
        <div class="row">

            <form [formGroup]="editTypeForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="col-md-offset-1 col-md-10">
                    <div class="dropdown" *ngIf="editTypeForm.controls['items']['controls']['length'] == 0">
                        <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                            <li *ngFor="let lang of langs">
                                <a (click)="addItem(lang)">{{ lang.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div formArrayName="items" *ngFor="let item of editTypeForm.controls['items']['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">language</i>
                                </div>
                                <div class="pull-right remove-btn">
                                    <h4 class="card-title" matTooltip="{{'LANG_DELETE_TOOLTIP' | translate}}" matTooltipPosition="left"><i (click)="onRemoveLangs(item.controls.language_name.value , item.controls.language_id.value ,  i)" class="fcancel material-icons">delete_sweep</i></h4>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">{{item.controls['language_name'].value}}</h4>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'WINE_SORT_EDIT_WINE_SORT_NAME_LABEL' | translate}}<span class="star">*</span></mat-label>
                                                <input type="text" matInput placeholder="{{'WINE_SORT_EDIT_WINE_SORT_NAME_PLACEHOLDER' | translate}}" formControlName="name">
                                                <mat-error>
                                                    <span *ngIf="item.controls['name'].touched && item.controls['name'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="row">
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'WINE_SORT_EDIT_WINE_SORT_DESC_LABEL' | translate}}<span class="star">*</span></mat-label>
                                                <textarea type="text" matInput placeholder="{{'WINE_SORT_EDIT_WINE_SORT_DESC_PLACEHOLDER' | translate}}" formControlName="description"></textarea>
                                                <mat-error>
                                                    <span *ngIf="item.controls['description'].touched && item.controls['description'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                                </mat-error>
                                            </mat-form-field>
                                            <ul>
                                                <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <button type="button" *ngIf="item.controls['flag'].value == 1" (click)="onSaveLanguage(item)" class="btn btn-rose btn-fill btn-wd pull-right" [disabled]="!item.valid || saved">{{'LANG_SAVE_BUTTON_TITLE' | translate}}</button>
                                        </div>
                                        <div class="row">
                                            <div class="pull-right">
                                                <button id="floating-button" matTooltip="{{'WINE_SORT_EDIT_EDIT_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" type="submit" class="btn btn-rose btn-fill btn-wd" [disabled]="!editTypeForm.valid"><i class="material-icons">save</i></button>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div id="langDropdown" class="dropdown" *ngIf="editTypeForm.get('items').controls.length == i+1 && langs.length !== 0">
                                                <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                                                <ul class="dropdown-menu dropdown-menu-left">
                                                    <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                                                    <li *ngFor="let lang of langs">
                                                        <a (click)="addItem(lang)">{{ lang.name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>