ul.dropdown-menu.dropdown-menu-left {
    cursor: pointer;
}

#langDropdown {
    margin-top: -10px;
    position: absolute;
    width: 100%;
}

i.fcancel.material-icons {
    cursor: pointer;
    z-index: 999;
    color: red;
    font-size: 32px;
    padding: 8px;
}

.form-full-width {
    width: 100%;
}