        <div class="main-content">
    <div class="col-md-12">
        <div class="row">
            <form [formGroup]="addWineSortForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="col-md-4">
                    <div id="winesort-image" class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title"></h4>
                            <div class="row" style="text-align: center">
                                <div class="pull-left">
                                    <legend>{{'IMAGE_BACKGROUND_TITLE' | translate}}<span class="star">*</span></legend>
                                </div>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img src="./assets/img/placeholder-cover.jpg" alt="cover for wine category">
                                    </div>
                                    <div id="wine-height" style="max-height: 250px;width: auto;" class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                        <span class="btn btn-rose btn-block btn-file">
                                        <span class="fileinput-new">{{'BUTTONS_ADD_BACKGROUND_IMAGE' | translate}}</span>
                                        <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                        <input (change)="onUploadCoverImage($event)" type="file" name="cover_image" />
                                        </span>
                                        <a href="#" #coverPath class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dropdown" *ngIf="addWineSortForm.controls['items']['length'] == 0">
                        <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                            <li *ngFor="let lang of langs">
                                <a (click)="addItem(lang)">{{ lang.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div formArrayName="items" *ngFor="let item of addWineSortForm.controls['items']['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">language</i>
                                </div>
                                <div class="pull-right remove-btn">
                                    <h4 class="card-title" matTooltip="{{'LANG_DELETE_TOOLTIP' | translate}}" matTooltipPosition="left"><i (click)="onRemoveLangs(item.controls.language_name.value , item.controls.language.value ,  i)" class="fcancel material-icons">delete_sweep</i></h4>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">{{item.controls['language_name'].value}}</h4>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'WINE_CATEGORIES_ADD_WINE_CATEGORIES_NAME' | translate}}<span class="star">*</span></mat-label>
                                                <input type="text" matInput placeholder="{{'WINE_CATEGORIES_ADD_WINE_CATEGORIES_NAME_PLACEHOLDER' | translate}}" formControlName="name">
                                                <mat-error>
                                                    <span *ngIf="item.controls['name'].touched && item.controls['name'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                                </mat-error>
                                            </mat-form-field>
                                            <ul>
                                                <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="pull-right">
                                                <button id="floating-button" matTooltip="{{'WINE_CATEGORIES_ADD_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" type="submit" class="btn btn-rose btn-fill btn-wd" [disabled]="!addWineSortForm.valid"><i class="material-icons">save</i></button>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div id="langDropdown" class="dropdown" *ngIf="addWineSortForm.controls['items']['length'] == i+1 && langs.length !== 0">
                                                <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}<b class="caret"></b></button>
                                                <ul class="dropdown-menu dropdown-menu-left">
                                                    <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                                                    <li *ngFor="let lang of langs">
                                                        <a (click)="addItem(lang)">{{ lang.name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>