<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{'WINE_PATH_SEARCH_LABEL' | translate}}</label>
                            <input [ngModel]='model' (ngModelChange)='changed($event)' type="text" placeholder="{{'WINE_PATH_SEARCH_PLACEHOLDER' | translate}}" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="card">
                    <div class="col-md-12">
                        <div class="form-group label-floating mat-select-custom">
                            <mat-form-field class="full-width">
                                <mat-label>{{'WINE_PATH_LANG_LABEL' | translate}}</mat-label>
                                <mat-select placeholder="Jezik" (change)="langChanged($event)">
                                    <mat-option *ngFor="let lang of languagesArray" [value]="lang.id">{{lang.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group label-floating">
                    <button id="floating-button" matTooltip="{{'WINE_PATH_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg pull-right" routerLink="add-wine-path"><i class="material-icons">add</i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <!--<ul class="searchText">
                <li *ngFor="let p of winePaths | filter : searchText">
                    <span (click)="addPathFromSearch(p)">{{ p.name }}</span>
                </li>
            </ul>-->
            <div class="col-md-3" *ngFor="let p of winePaths | filter : searchText : 'winePath'">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="card-content">

                        <h4 class="card-title">{{ p.name }}</h4>

                        <div class="fileinput-new thumbnail">
                            <img src="{{ p.cover_image }}" alt="..." *ngIf="p.cover_image && loading !== false">
                            <img src="./assets/img/placeholder-cover.jpg" alt="..." *ngIf="loading === true">
                        </div>
                        <button matTooltip="{{'TABLES_PREVIEW_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-just-icon btn-success" (click)="onEditWinePath(p.id)"><i class="material-icons">edit</i></button>
                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-just-icon btn-danger" (click)="onDeleteWinePath(p.id, p.name)"><i class="material-icons">delete_sweep</i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="col-md-12">
                <mat-paginator (page)="nextPage($event)" [length]="total" [pageSize]="10">
                </mat-paginator>
                <!-- <ul class="pagination pagination-info pull-right" *ngIf="winePaths.length">
                    <li *ngIf="currentPage != 1">
                        <a (click)="searchWinePaths(currentPage-1, model)"> prethodna</a>
                    </li>
                    <li *ngFor="let dummy of ' '.repeat(totalPages).split(''), let x = index" [ngClass]="{'active': (x+1) === currentPage}">
                        <a (click)="currentPage === x+1 ? false : searchWinePaths(x+1, model)">{{x+1}}</a>
                    </li>
                    <li *ngIf="currentPage !== totalPages">
                        <a (click)="searchWinePaths(currentPage+1, model)">sledeća </a>
                    </li>
                </ul> -->
                <!-- <h4 *ngIf="!winePaths.length">Nema rezultata.</h4> -->
            </div>
        </div>
    </div>
</div>