.thumbnail {
    max-height: 100px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
}

.thumbnail img {
    width: 100%;
    min-width: 100%;
}

.pagination li a {
    cursor: pointer;
}

.form-group.label-floating.mat-select-custom {
    padding-bottom: 0px;
    margin-top: 10px;
}

.full-width {
    width: 100%;
}

.padding {
    padding-bottom: 30px;
}