#map_demo {
    height: 600px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown {
    cursor: pointer;
}

ul.path-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 0;
    border-bottom: 1px solid;
    border-color: #920000;
}

ul.path-list li:last-child {
    border-bottom: none;
}

ul.path-list li i.drag_indicator {
    cursor: move;
}

li.gu-mirror,
li.gu-transit {
    background: #f9e8be;
}

ul.path-list li div.form-group {
    width: 30%;
}

ul.path-list li div.form-group.select {
    width: auto;
}

ul.path-list li span {
    align-self: center;
    display: flex;
}

ul.path-list li span.letter {
    font-size: 18px;
    color: #920000;
    font-weight: normal;
}

ul.searchText {
    max-height: 100px;
    overflow-y: scroll;
}

ul.searchText li span {
    cursor: pointer;
}

.remove-btn {
    cursor: pointer;
    z-index: 999;
    color: red;
    font-size: 32px;
    padding: 8px;
}