.mat-column-id {
    flex: 0 0 50px;
}

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    max-width: 140px;
}


.mat-column-type {
    /*display: flex;*/
    justify-content: flex-start;
    min-width: 60px;
    padding-left: 5%;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 1100px;
}

mat-table.events-table.mat-elevation-z8.mat-table {
    max-height: 1100px;
}

.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}

mat-cell,
mat-header-cell {
    padding-left: 20px;
}