.mat-column-input {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.form-full-width {
    width: 100%;
    padding-top: 10px;
}

.translate-keys {
    width: 200px;
}

.translate-keys-front {
    display: block;
    width: 250px;
    padding-top: 25px;
    padding-right: 10px;
    word-wrap: break-word;
}

.translate-input {
    width: 100%
}

tr {
    border-bottom: 1px solid lightgray;
}

table {
    width: 800px;
    margin: auto;
}

img.flag-image {
    height: 17px;
    width: 23px;
}
img.flag-image-dropdown {
    display: block;
}
.flag-dropdown {
    width: 80px;
}

mat-icon {

    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 5px;
}

mat-select {
    display: inline-table;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 50px;
    margin-left: 30px;
}
mat-form-field.code {
    display: none;
}