<mat-form-field class="form-full-width">
    <mat-label>{{'TRANSLATE_LANG_NAME_LABEL' | translate}}</mat-label>
    <input [(ngModel)]="name" matInput #langName="ngModel" type="text" required>
    <mat-error>
        <span *ngIf="langName.invalid && (langName.dirty || langName.touched)" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
    </mat-error>
</mat-form-field>
<mat-form-field class="flag-dropdown">
    <mat-icon><img *ngIf="flag_name !== undefined" class="flag-image-dropdown" [src]="'./assets/img/flags/' + flag_name + '.png'" alt=""></mat-icon>
    <mat-select [value]="flag_name" required>
        <mat-option (click)="onSelectFlag(flag)" [value]="flag" *ngFor="let flag of listOfFlags">
            <img class="flag-image" [src]="'./assets/img/flags/' + flag + '.png'" alt="">{{flag}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="code">
    <mat-label>{{'TRANSLATE_LANG_CODE_LABEL' | translate}}</mat-label>
    <input [(ngModel)]="code" style="text-transform:uppercase" maxlength="2" matInput #langCode="ngModel" type="text" required>
    <mat-error>
        <span *ngIf="langCode.invalid && (langCode.dirty || langCode.touched)" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
    </mat-error>
</mat-form-field>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne" (click)="onTabSelect()">
                <h4 class="panel-title">{{'TRANSLATE_LANG_MOBILE_TAB_TITLE' | translate}}<i class="material-icons">keyboard_arrow_down</i></h4>
            </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <form [formGroup]="mobileLangTableForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="material-datatables table-responsive">
                        <!-- <div class="loading_spinner" *ngIf="dataSource.loading$ | async"> -->
                        <!-- <mat-spinner [diameter]="40"></mat-spinner> -->
                        <!-- </div> -->
                        <!-- <mat-table class="events-table mat-elevation-z8" [dataSource]="mobileDataSource">
                            <ng-container matColumnDef="value">
                                <mat-header-cell *matHeaderCellDef>Naziv</mat-header-cell>
                                <mat-cell class="description-cell" *matCellDef="let element">{{element.name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="input">
                                <mat-header-cell *matHeaderCellDef>Vrednost</mat-header-cell>
                                <mat-cell class="description-cell" *matCellDef="let element" [formGroupName]="element.name">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{element.value}}
                                            <span class="star">*</span>
                                        </mat-label>
                                        <input matInput type="text" formControlName="value">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                        </mat-table> -->
                        <table>
                            <tr>
                                <th>{{'TRANSLATE_EDIT_TABLE_NAME' | translate}}</th>
                                <th>{{'TRANSLATE_EDIT_TABLE_VALUE' | translate}}</th>
                            </tr>
                            <tr [formGroupName]="item.name" *ngFor="let item of mobileDataSource">
                                <td class="translate-keys">
                                    <p>{{item.name}}</p>
                                </td>
                                <td class="translate-input">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{item.value}}
                                            <span class="star">*</span>
                                        </mat-label>
                                        <input matInput type="text" formControlName="value">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <button id="floating-above-button" type="submit" mat-raised-button matTooltip="{{'TRANSLATE_EDIT_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg" [disabled]="!mobileLangTableForm.valid || !langName.valid || !langCode.valid"> <i class="material-icons">save</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseTwo" (click)="onTabSelect()">
                <h4 class="panel-title">{{'TRANSLATE_LANG_FRONTEND_TAB_TITLE' | translate}}<i class="material-icons">keyboard_arrow_down</i></h4>
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <form [formGroup]="frontEndLangTableForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="material-datatables table-responsive">
                        <!-- <div class="loading_spinner" *ngIf="dataSource.loading$ | async"> -->
                        <!-- <mat-spinner [diameter]="40"></mat-spinner> -->
                        <!-- </div> -->
                        <!--   <mat-table class="events-table mat-elevation-z8" [dataSource]="frontEndDataSource">
                    <ng-container matColumnDef="value">
                        <mat-header-cell *matHeaderCellDef>Naziv</mat-header-cell>
                        <mat-cell class="description-cell" *matCellDef="let element">{{element.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="input">
                        <mat-header-cell *matHeaderCellDef>Vrednost</mat-header-cell>
                        <mat-cell class="description-cell" *matCellDef="let element" [formGroupName]="element.name">
                            <mat-form-field class="form-full-width">
                                <mat-label>{{element.value}}
                                    <span class="star">*</span>
                                </mat-label>
                                <input matInput type="text" formControlName="value">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table> -->
                        <table>
                            <tr>
                                <th>{{'TRANSLATE_EDIT_TABLE_NAME' | translate}}</th>
                                <th>{{'TRANSLATE_EDIT_TABLE_VALUE' | translate}}</th>
                            </tr>
                            <tr [formGroupName]="item.name" *ngFor="let item of frontEndDataSource">
                                <td class="translate-keys-front">
                                    <p>{{item.name}}</p>
                                </td>
                                <td class="translate-input">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{item.value}}
                                            <span class="star">*</span>
                                        </mat-label>
                                        <input matInput type="text" formControlName="value">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <button id="floating-above-button" type="submit" mat-raised-button matTooltip="{{'TRANSLATE_EDIT_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg" [disabled]="!frontEndLangTableForm.valid || !langName.valid || !langCode.valid"> <i class="material-icons">save</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>