<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="darkred">
                    <i class="material-icons">pageview</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">{{'WINERY_PREVIEW_CARD_NAME' | translate}}</h4>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="fileinput-new thumbnail logo">
                                        <label for="logo">{{'IMAGE_LOGO_TITLE' | translate}}</label>
                                        <img id="logo" *ngIf="logoImage !== null" [src]="logoImage" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="fileinput-new thumbnail cover">
                                        <label for="cover">{{'IMAGE_COVER_TITLE' | translate}}</label>
                                        <img id="cover" *ngIf="coverImage !== null" [src]="coverImage" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="fileinput-new thumbnail">
                                        <label for="video">{{'VIDEO_TITLE' | translate}}</label>
                                        <video id="video" *ngIf="videoFile !== null" controls>
                                            <source [src]="videoFile" type="video/mp4"> Your browser does not support the video tag.
                                        </video>
                                        <div *ngIf="videoFile == null" class="fileinput-new thumbnail">
                                            <img src="https://diypbx.com/wp-content/uploads/2016/02/video-placeholder.jpg" alt="placeholder for video">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div *ngFor="let language of languages; let i = index" class="panel panel-default">
                                    <div class="panel-heading" role="tab" [id]="'heading-' + language.language_id">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse-' + language.language_id" [attr.aria-controls]="'collapse-' + language.language_id">
                                            <h4 class="panel-title">
                                                {{language.language}} - {{language.fields[1].value}}
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div [id]="'collapse-' + language.language_id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading-' + language.language_id">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <label class="label-on-left">{{'WINERY_PREVIEW_WINERY_NAME_LABEL' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p><span class="text-justify">{{language.fields[1].value}}</span></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <label class="label-on-left">{{'WINERY_PREVIEW_WINERY_DESC_LABEL' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p><span class="text-justify" [innerHTML]="language.fields[0].value"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- panel end -->
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_RECOMMENDED_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p *ngIf="serverData?.recommended === 1"><span class="text-justify">{{'WINERY_PREVIEW_YES' | translate}}</span></p>
                                    <p *ngIf="serverData?.recommended === 0"><span class="text-justify">{{'WINERY_PREVIEW_NO' | translate}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_ADDRESS_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify">{{serverData?.address}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_WEB_PAGE_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify"><a *ngIf="serverData?.webpage !== null" [href]="serverData?.webpage">{{serverData?.webpage}}</a><span class="star" *ngIf="serverData?.webpage == null">{{'WINERY_PREVIEW_NO_LINK' | translate}}</span></span>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_WORKING_HOURS_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify">{{'WINERY_PREVIEW_MONDAY_FRIDAY' | translate}} <strong *ngIf="serverData?.ponpet !== '/'">{{serverData?.ponpet}}</strong><strong *ngIf="serverData?.ponpet === '/'">{{'WINERY_PREVIEW_NOT_WORKING' | translate}}</strong></span></p>
                                    <p><span class="text-justify">{{'WINERY_PREVIEW_SATURDAY' | translate}}<strong *ngIf="serverData?.sub !== '/'">{{serverData?.sub}}</strong><strong *ngIf="serverData?.sub === '/'">{{'WINERY_PREVIEW_NOT_WORKING' | translate}}</strong></span></p>
                                    <p><span class="text-justify">{{'WINERY_PREVIEW_SUNDAY' | translate}}<strong *ngIf="serverData?.ned !== '/'">{{serverData?.ned}}</strong><strong *ngIf="serverData?.ned === '/'">{{'WINERY_PREVIEW_NOT_WORKING' | translate}}</strong></span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_CONTACT' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span *ngIf="serverData?.contact !== ''" class="text-justify">{{serverData?.contact}},<span *ngIf="serverData?.contact_person !== ''"><strong> {{serverData?.contact_person}}</strong></span></span>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_AVG_RATE' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p> <span class="stars">
                                        <span [ngStyle]="{ 'width':  getStars(serverData?.rate === null ? '0' : serverData?.rate ) }"></span></span>
                                        {{serverData?.rate === null ? 0 : serverData?.rate | number: '1.1-1'}}, broj ocena: {{serverData?.rate_count}}
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_REGION_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify">{{regionName}}</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_REON_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify">{{reonName}}</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_VINOGORJE_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-10">
                                    <p><span class="text-justify">{{vinogorjeName}}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_WINE_CATEGORIES' | translate}}</label>
                                    <ul class="nav nav-pills nav-pills-rose nav-stacked">
                                        <li (click)="searchWineList(1, category.id, '')" *ngFor="let category of categoriesList">
                                            <a [href]="'#' + category?.id" data-toggle="tab">{{category.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content">
                                        <div class="tab-pane active" [id]="categoryId">
                                            <ul class="wines-list">
                                                <li class="wine-item" *ngFor="let list of winesList">{{list.name}}</li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-md-12 pagination-label">
                                                    
                                                   <!--  <ul class="pagination pagination-info pull-right" *ngIf="winesList.length">
                                                        <li *ngIf="currentPage != 1">
                                                            <a (click)="searchWineList(currentPage-1, categoryId, model)"> prethodna</a>
                                                        </li>
                                                        <li *ngFor="let dummy of ' '.repeat(totalPages).split(''), let x = index" [ngClass]="{'active': (x+1) === currentPage}">
                                                            <a (click)="searchWineList(x+1, categoryId, model)">{{x+1}}</a>
                                                        </li>
                                                        <li *ngIf="currentPage !== totalPages">
                                                            <a (click)="searchWineList(currentPage+1, categoryId, model)">sledeća </a>
                                                        </li>
                                                    </ul> -->
                                                    <h4 *ngIf="!winesList.length">{{'WINERY_PRIVIEW_WINE_CATEGORIES_NO_RESULTS' | translate}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <mat-paginator (page)="nextPage($event)" [length]="totalPages" [pageSize]="10"></mat-paginator>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="label-on-left">{{'WINERY_PREVIEW_LOCATION_ON_MAP_TITLE' | translate}}</label>
                                    <agm-map [scrollwheel]="false" [mapDraggable]="true" [latitude]="lat" [longitude]="lng" [zoom]="16">
                                        <agm-marker [markerDraggable]="false" [latitude]="lat" [longitude]="lng">
                                            <agm-info-window>
                                                <!-- <p>{{serverData?.pin.name}}</p> -->
                                                <p>{{serverData?.pin.address}}</p>
                                                <p>lat: {{serverData?.pin.lat}}, lng: {{serverData?.pin.lng}}</p>
                                            </agm-info-window>
                                        </agm-marker>
                                    </agm-map>
                                </div>
                                <div class="pull-right">
                                    <button id="floating-button" matTooltip="{{'WINERY_PREVIEW_COMMENT_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="left" type="button" mat-raised-button class="btn btn-rose btn-lg" (click)="listOfComments()"><i class="material-icons">comment</i></button>
                                </div>
                                <div class="pull-right">
                                    <button id="floating-above-button" matTooltip="{{'WINERY_PREVIEW_EDIT_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="left" type="button" mat-raised-button class="btn btn-rose btn-lg" (click)="editWinery()"><i class="material-icons">edit</i></button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div *ngIf="gallerycounter !== null" class="row">
                                        <div class="col-md-12 imageGalleryContainer">
                                            <gallery id="{{galleryId}}"></gallery>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_CREATE_AT_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-2">
                                    <p><span class="text-justify">{{serverData?.created_at | date: 'medium'}}</span></p>
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="label-on-left">{{'WINERY_PREVIEW_UPDATE_AT_TITLE' | translate}}</label>
                                </div>
                                <div class="col-md-2">
                                    <p><span class="text-justify">{{serverData?.updated_at | date: 'medium'}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>