label.pull-left {
    padding-right: 10px;
}

video {
    width: auto !important;
    max-width: 100%;
}

span.stars,
span.stars span {
    display: block;
    /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.alignright {
    float: right;
}

.imageGalleryContainer {
    position: relative;
    display: block;
}

gallery {
    height: 550px;
    background-color: #ffffff;
}

.thumbnail.logo {
    max-width: 200px;
    margin: auto;
}

.thumbnail.cover {
    max-width: 300px;
    margin: auto;
}

agm-map {
    height: 600px;
}

::ng-deep .slide image-item > div {
    background-size: contain;
    background-repeat: no-repeat;
}

::ng-deep gallery-core gallery-thumb {
    background-color: #373737;
}

::ng-deep gallery-nav i.g-nav-next {
    background-color: #373737;
}
::ng-deep gallery-nav i.g-nav-prev {
    background-color: #373737;
}

.pagination-label {
    position: absolute;
    bottom: 0;

}

div.tab-content {
    margin-top: 40px;
}

ul.wines-list {
    
}

ul.wines-list li.wine-item {
    font-weight: 500;
    list-style-type: none;
    padding: 10px;
    background-color: #37373737;
    margin-bottom: 5px;
}