.loading_spinner {
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
}

.mat-column-actions {
    display: flex;
    justify-content: flex-end;
    /* min-width: 200px; */
}

::ng-deep mat-row:hover {
    cursor: pointer;
    background-color: #67676726 !important;
}