<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'REGIONS_REGIONS_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <div class="pull-right">
                                <button id="floating-button" mat-button [matMenuTriggerFor]="menu" class="btn btn-rose btn-lg" matTooltip="{{'REGIONS_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above"><i class="material-icons">add</i></button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="onAddRegions('regija')">{{'REGIONS_ADD_BUTTON_REGION' | translate}}</button>
                                    <button mat-menu-item (click)="onAddRegions('reon')">{{'REGIONS_ADD_BUTTON_REON' | translate}}</button>
                                    <button mat-menu-item (click)="onAddRegions('vinogorje')">{{'REGIONS_ADD_BUTTON_VINOGORJE' | translate}}</button>
                                </mat-menu>
                            </div>
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataRegion.loading$ | async">
                                <mat-spinner [diameter]="40"></mat-spinner>
                            </div>
                            <mat-table class="events-table mat-elevation-z8" [dataSource]="dataRegion">

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef>{{'REGIONS_TABLE_NAME' | translate}}</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>

                                </ng-container>
                                <!-- 
                                    <ng-container matColumnDef="description">
    
                                        <mat-header-cell *matHeaderCellDef>Opis</mat-header-cell>
    
                                        <mat-cell class="description-cell" *matCellDef="let element">{{element.description}}</mat-cell>
    
                                    </ng-container> -->

                                <ng-container matColumnDef="actions">

                                    <mat-header-cell *matHeaderCellDef>{{'REGIONS_TABLE_ACTIONS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_EDIT_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onEditRegion(element.id, element.type)" type="button" rel="tooltip" class="btn btn-just-icon btn-success"><i class="material-icons">edit</i></button>
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onDeleteRegion(element.id, element.name, 'regija')" type="button" rel="tooltip" class="btn btn-just-icon btn-danger"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row matTooltip="{{'TABLES_SELECT' | translate}}" matTooltipPosition="above" *matRowDef="let row; columns: displayedColumns" (click)="onSelectedRegion($event, row)"></mat-row>

                            </mat-table>

                            <mat-paginator #regionPaginator [length]="total" [pageSize]="pageSize"></mat-paginator>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'REGIONS_REONS_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataReon.loading$ | async">
                                <mat-spinner [diameter]="40"></mat-spinner>
                            </div>
                            <mat-table class="events-table mat-elevation-z8" [dataSource]="dataReon">

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef>{{'REGIONS_TABLE_NAME' | translate}}</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>

                                </ng-container>

                                <!-- <ng-container matColumnDef="description">
    
                                        <mat-header-cell *matHeaderCellDef>Opis</mat-header-cell>
    
                                        <mat-cell class="description-cell" *matCellDef="let element">{{element.description}}</mat-cell>
    
                                    </ng-container> -->

                                <ng-container matColumnDef="actions">

                                    <mat-header-cell *matHeaderCellDef>{{'REGIONS_TABLE_ACTIONS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_EDIT_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onEditRegion(element.id, 'reon')" type="button" rel="tooltip" class="btn btn-just-icon btn-success"><i class="material-icons">edit</i></button>
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onDeleteRegion(element.id, element.name, 'reon')" type="button" rel="tooltip" class="btn btn-just-icon btn-danger"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row matTooltip="{{'TABLES_SELECT' | translate}}" matTooltipPosition="above" *matRowDef="let row; columns: displayedColumns" (click)="onSelectedReon($event, row)"></mat-row>

                            </mat-table>

                            <mat-paginator #reonPaginator [length]="total2" [pageSize]="pageSize2"></mat-paginator>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'REGIONS_VINOGORJE_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataVinogorje.loading$ | async">
                                <mat-spinner [diameter]="40"></mat-spinner>
                            </div>
                            <mat-table class="events-table mat-elevation-z8" [dataSource]="dataVinogorje">

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef>{{'REGIONS_TABLE_NAME' | translate}}</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>

                                </ng-container>

                                <!-- <ng-container matColumnDef="description">
    
                                        <mat-header-cell *matHeaderCellDef>Opis</mat-header-cell>
    
                                        <mat-cell class="description-cell" *matCellDef="let element">{{element.description}}</mat-cell>
    
                                    </ng-container> -->

                                <ng-container matColumnDef="actions">

                                    <mat-header-cell *matHeaderCellDef>{{'REGIONS_TABLE_ACTIONS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_EDIT_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onEditRegion(element.id, 'vinogorje')" type="button" rel="tooltip" class="btn btn-just-icon btn-success"><i class="material-icons">edit</i></button>
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onDeleteRegion(element.id, element.name, 'vinogorje')" type="button" rel="tooltip" class="btn btn-just-icon btn-danger"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                            </mat-table>

                            <mat-paginator #vinogorjePaginator [length]="total3" [pageSize]="pageSize3"></mat-paginator>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>