<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="addRegionForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">map</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'REGIONS_ADD_CARD_NAME' | translate}}</h4>
                            <div class="toolbar">
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'REGIONS_ADD_REGION_LIST' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select formControlName="listOfRegions" [value]="addRegionForm.controls['listOfRegions'].value" placeholder="odaberite regiju">
                                            <mat-option *ngFor="let region of regionsList" [value]="region.id" (click)="dropdownValueRegion(region.id)">{{region.name}} {{region.type}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="addRegionForm.controls['listOfRegions'].touched && addRegionForm.controls['listOfRegions'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="form-full-width">
                                        <mat-label><i>{{'REGIONS_ADD_REGION_NAME' | translate}}</i><span class="star">*</span></mat-label>
                                        <input type="text" matInput placeholder="{{'REGIONS_ADD_REGION_NAME_PLACEHOLDER' | translate}}" formControlName="region">
                                        <mat-error>
                                            <span *ngIf="addRegionForm.controls['region'].touched && addRegionForm.controls['region'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                    <label for="padding-texteditor">{{'REGIONS_ADD_REGION_DESC' | translate}}<span class="star">*</span></label>
                                    <!--   <textarea type="text" matInput placeholder="Opis regije" formControlName="regionDesc"></textarea> -->
                                    <div *ngIf="!addRegionForm.controls.regionDesc.disabled" id="padding-texteditor">
                                        <quill-editor [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'REGIONS_ADD_REGION_DESC_PLACEHOLDER' | translate}}" formControlName="regionDesc"></quill-editor>
                                    </div>
                                    <span class="star desc-alert" *ngIf="addRegionForm.controls['regionDesc'].touched && addRegionForm.controls['regionDesc'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'REGIONS_ADD_REON_LIST' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select formControlName="listOfReons" [value]="addRegionForm.controls['listOfReons'].value" placeholder="odaberite regiju">
                                            <mat-option *ngFor="let reon of reonsList" [value]="reon.id" (click)="dropdownValueReon(reon.id)">{{reon.name}} {{reon.type}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="addRegionForm.controls['listOfReons'].touched && addRegionForm.controls['listOfReons'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="form-full-width">
                                        <mat-label><i>{{'REGIONS_ADD_REON_NAME' | translate}}</i><span class="star">*</span></mat-label>
                                        <input type="text" matInput placeholder="{{'REGIONS_ADD_REON_NAME_PLACEHOLDER' | translate}}" formControlName="reon">
                                        <mat-error>
                                            <span *ngIf="addRegionForm.controls['reon'].touched && addRegionForm.controls['reon'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="form-full-width">
                                        <mat-label><i>Opis novog reona</i><span class="star">*</span></mat-label>
                                        <textarea type="text" matInput placeholder="Opis reona" formControlName="reonDesc"></textarea>
                                        <mat-error>
                                            <span *ngIf="addRegionForm.controls['reonDesc'].touched && addRegionForm.controls['reonDesc'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                        </mat-error>
                                    </mat-form-field> -->
                                    <label for="padding-texteditor">{{'REGIONS_ADD_REON_DESC' | translate}}<span class="star">*</span></label>
                                    <!--   <textarea type="text" matInput placeholder="Opis regije" formControlName="regionDesc"></textarea> -->
                                    <div *ngIf="!addRegionForm.controls.reonDesc.disabled" id="padding-texteditor">
                                        <quill-editor [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'REGIONS_ADD_REON_DESC_PLACEHOLDER' | translate}}" formControlName="reonDesc"></quill-editor>
                                    </div>
                                    <span class="star desc-alert" *ngIf="addRegionForm.controls['reonDesc'].touched && addRegionForm.controls['reonDesc'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- <mat-form-field class="form-full-width">
                                        <mat-label>Lista vinogorja<span class="star">*</span></mat-label>
                                        <mat-select formControlName="listOfVinogorja" [value]="addRegionForm.controls['listOfVinogorja'].value" placeholder="odaberite regiju">
                                            <mat-option *ngFor="let vinogorje of vinogorjaList" [value]="vinogorje.id">{{vinogorje.name}} {{vinogorje.type}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="addRegionForm.controls['listOfVinogorja'].touched && addRegionForm.controls['listOfVinogorja'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                        </mat-error>
                                    </mat-form-field> -->
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="form-full-width">
                                        <mat-label><i>{{'REGIONS_ADD_VINOGORJA_NAME' | translate}}</i><span class="star">*</span></mat-label>
                                        <input type="text" matInput placeholder="{{'REGIONS_ADD_VINOGORJA_NAME_PLACEHOLDER' | translate}}" formControlName="vinogorje">
                                        <mat-error>
                                            <span *ngIf="addRegionForm.controls['listOfVinogorja'].touched && addRegionForm.controls['listOfVinogorja'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="form-full-width">
                                        <mat-label><i>Opis novog vinogorja</i><span class="star">*</span></mat-label>
                                        <textarea type="text" matInput placeholder="Opis vinogorja" formControlName="vinogorjeDesc"></textarea>
                                        <mat-error>
                                            <span *ngIf="addRegionForm.controls['vinogorjeDesc'].touched && addRegionForm.controls['vinogorjeDesc'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                        </mat-error>
                                    </mat-form-field> -->
                                    <label for="padding-texteditor">{{'REGIONS_ADD_VINOGORJA_DESC' | translate}}<span class="star">*</span></label>
                                    <div *ngIf="!addRegionForm.controls.vinogorjeDesc.disabled" id="padding-texteditor">
                                        <quill-editor [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'REGIONS_ADD_VINOGORJA_DESC_PLACEHOLDER' | translate}}" formControlName="vinogorjeDesc"></quill-editor>
                                    </div>
                                    <span class="star desc-alert" *ngIf="addRegionForm.controls['vinogorjeDesc'].touched && addRegionForm.controls['vinogorjeDesc'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button id="floating-button" type="submit" mat-raised-button matTooltip="{{'REGIONS_ADD_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg" [disabled]="!addRegionForm.valid"> <i class="material-icons">save</i></button>
                            </div>
                            <ul>
                                <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                            </ul>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <div [hidden]="type !== 'regija'" class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">location_on</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'REGIONS_ADD_POLYGON_CARD_NAME' | translate}}</h4>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="pull-left">
                                        <legend>{{'REGIONS_ADD_MAP_TITLE' | translate}}</legend>
                                    </div>
                                    <div id="map"></div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="pull-left">
                                        <legend>{{'IMAGE_COVER_TITLE' | translate}}</legend>
                                    </div>
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img src="./assets/img/placeholder-cover.jpg" alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-rose btn-block btn-file">
                                    <span class="fileinput-new">{{'BUTTONS_ADD_COVER' | translate}}</span>
                                            <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                            <input (change)="onUploadCover($event)" type="file" name="cover_image" />
                                            </span>
                                            <a href="#" #coverPath class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                        </div>
                                    </div>
                                    <!-- <ul class="path-list">
                                        <li *ngFor="let point of pointsArray; let i = index">
                                            <span class="letter">{{point.letter}} Marker</span>
                                            <button matTooltip="{{'BUTTONS_DELETE_MARKERS' | translate}}" matTooltipPosition="above" class="btn btn-danger btn-xs btn-simple" (click)="removePoint(i, pointsArray)">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </li>
                                    </ul> -->
                                      <ul class="path-list">
                                        <li *ngFor="let point of pointsArray; let i = index">
                                            <span class="letter">{{point.letter}}<span class="after-letter">marker</span></span>
                                            <i matTooltip="{{'BUTTONS_DELETE_MARKERS' | translate}}" matTooltipPosition="above" class="material-icons remove-video" (click)="removePoint(i, pointsArray)">delete_sweep</i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul>
                                <!-- <li><strong>U okviru polja <i>Adresa</i> unosite vinarije , a zatim bližu lokaciju odredite pomeranjem pina na mapi!</strong></li>
                            <li><span class="star">*</span> obeležena polja su obavezna!</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </form>
    </div>
</div>