.padding-left {
    padding-left: 20px;
    margin: 0;
    position: relative;
    display: inline-block;
}

.form-full-width {
    width: 100%;
}

::ng-deep #map {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


span.star.desc-alert {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: -15px;
    padding-bottom: 5px;
}


agm-map {
    height: 600px;
}

ul.path-list {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.path-list li {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid;
    border-color: #920000;
    margin-bottom: 5px;
}

ul.path-list li:hover {
    border-color: red;
}

ul.path-list li span.letter {
    font-size: 18px;
    color: #920000;
    font-weight: normal;
    position: relative;
    padding: 5px;
}

i.material-icons.remove-video {
    cursor: pointer;
    color: red;
    position: relative;
    padding-top: 5px;
}

ul.path-list li span.after-letter {
    color: black;
    padding-left: 10px;
}