.padding-left {
    padding-left: 20px;
    margin: 0;
    position: relative;
    display: inline-block;
}

.form-full-width {
    width: 100%;
}

::ng-deep #map {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.path-list li {
    display: flex;
    justify-content: space-between;
    /* padding: 5px 10px; */
    margin: 0;
    border-bottom: 1px solid;
    border-color: #920000;
}

ul.path-list li span {
    align-self: center;
    display: flex;
}

ul.path-list li span.letter {
    font-size: 18px;
    color: #920000;
    font-weight: normal;
}

span.star.desc-alert {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: -15px;
    padding-bottom: 5px;
}


agm-map {
    height: 600px;
}