<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'REGIONS_EDIT_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                        </div>
                        <form [formGroup]="editRegionForm" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'REGIONS_EDIT_REGION_LIST' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select formControlName="listOfRegions" [value]="editRegionForm.controls['listOfRegions'].value" placeholder="odaberite regiju">
                                            <mat-option *ngFor="let region of regionsList" [value]="region.id" (click)="dropdownValueRegion(region.id)">{{region.name}} {{region.type}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['listOfRegions'].touched && editRegionForm.controls['listOfRegions'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="form-full-width">
                                        <mat-label><i>{{'REGIONS_EDIT_REGION_NAME' | translate}}</i><span class="star">*</span></mat-label>
                                        <input type="text" matInput placeholder="{{'REGIONS_EDIT_REGION_NAME_PLACEHOLDER' | translate}}" formControlName="region">
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['region'].touched && editRegionForm.controls['region'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="form-full-width">
                                        <mat-label><i>Opis reona</i><span class="star">*</span></mat-label>
                                        <textarea type="text" matInput placeholder="Opis reona" formControlName="regionDesc"></textarea>
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['regionDesc'].touched && editRegionForm.controls['regionDesc'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                        </mat-error>
                                    </mat-form-field> -->
                                    <label for="padding-texteditor">{{'REGIONS_EDIT_REGION_DESC' | translate}}<span class="star">*</span></label>
                                    <!--   <textarea type="text" matInput placeholder="Opis regije" formControlName="regionDesc"></textarea> -->
                                    <div *ngIf="!editRegionForm.controls.regionDesc.disabled" id="padding-texteditor">
                                        <quill-editor [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'REGIONS_EDIT_REGION_DESC_PLACEHOLDER' | translate}}" formControlName="regionDesc"></quill-editor>
                                    </div>
                                    <span class="star desc-alert" *ngIf="editRegionForm.controls['regionDesc'].touched && editRegionForm.controls['regionDesc'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>{{'REGIONS_EDIT_REON_LIST' | translate}}<span class="star">*</span></mat-label>
                                        <mat-select formControlName="listOfReons" [value]="editRegionForm.controls['listOfReons'].value" placeholder="odaberite regiju">
                                            <mat-option *ngFor="let reon of reonsList" [value]="reon.id" (click)="dropdownValueReon(reon.id)">{{reon.name}} {{reon.type}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['listOfReons'].touched && editRegionForm.controls['listOfReons'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="form-full-width">
                                        <mat-label><i>{{'REGIONS_EDIT_REON_NAME' | translate}}</i><span class="star">*</span></mat-label>
                                        <input type="text" matInput placeholder="{{'REGIONS_EDIT_REON_NAME_PLACEHOLDER' | translate}}" formControlName="reon">
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['reon'].touched && editRegionForm.controls['reon'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="form-full-width">
                                        <mat-label><i>Opis reona</i><span class="star">*</span></mat-label>
                                        <textarea type="text" matInput placeholder="Opis reona" formControlName="reonDesc"></textarea>
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['reonDesc'].touched && editRegionForm.controls['reonDesc'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                        </mat-error>
                                    </mat-form-field> -->
                                     <label for="padding-texteditor">{{'REGIONS_EDIT_REON_DESC' | translate}}<span class="star">*</span></label>
                                    <!--   <textarea type="text" matInput placeholder="Opis regije" formControlName="regionDesc"></textarea> -->
                                    <div *ngIf="!editRegionForm.controls.reonDesc.disabled" id="padding-texteditor">
                                        <quill-editor [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'REGIONS_EDIT_REON_DESC_PLACEHOLDER' | translate}}" formControlName="reonDesc"></quill-editor>
                                    </div>
                                    <span class="star desc-alert" *ngIf="editRegionForm.controls['reonDesc'].touched && editRegionForm.controls['reonDesc'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- <mat-form-field class="form-full-width">
                                        <mat-label>Lista vinogorja<span class="star">*</span></mat-label>
                                        <mat-select formControlName="listOfVinogorja" [value]="editRegionForm.controls['listOfVinogorja'].value" placeholder="odaberite regiju">
                                            <mat-option *ngFor="let vinogorje of vinogorjaList" [value]="vinogorje.id">{{vinogorje.name}} {{vinogorje.type}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['listOfVinogorja'].touched && editRegionForm.controls['listOfVinogorja'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                        </mat-error>
                                    </mat-form-field> -->
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="form-full-width">
                                        <mat-label><i>{{'REGIONS_EDIT_VINOGORJA_NAME' | translate}}</i><span class="star">*</span></mat-label>
                                        <input type="text" matInput placeholder="{{'REGIONS_EDIT_VINOGORJA_NAME_PLACEHOLDER' | translate}}" formControlName="vinogorje">
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['vinogorje'].touched && editRegionForm.controls['vinogorje'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="form-full-width">
                                        <mat-label><i>Opis vinogorja</i><span class="star">*</span></mat-label>
                                        <textarea type="text" matInput placeholder="Opis vinogorja" formControlName="vinogorjeDesc"></textarea>
                                        <mat-error>
                                            <span *ngIf="editRegionForm.controls['vinogorjeDesc'].touched && editRegionForm.controls['vinogorjeDesc'].hasError('required')">Ovo polje je <strong>obavezno!</strong></span>
                                        </mat-error>
                                    </mat-form-field> -->
                                    <label for="padding-texteditor">{{'REGIONS_EDIT_VINOGORJA_DESC' | translate}}<span class="star">*</span></label>
                                    <!--   <textarea type="text" matInput placeholder="Opis regije" formControlName="regionDesc"></textarea> -->
                                    <div *ngIf="!editRegionForm.controls.vinogorjeDesc.disabled" id="padding-texteditor">
                                        <quill-editor [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'REGIONS_EDIT_VINOGORJA_DESC_PLACEHOLDER' | translate}}" formControlName="vinogorjeDesc"></quill-editor>
                                    </div>
                                    <span class="star desc-alert" *ngIf="editRegionForm.controls['vinogorjeDesc'].touched && editRegionForm.controls['vinogorjeDesc'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button id="floating-button" type="submit" mat-raised-button matTooltip="{{'REGIONS_EDIT_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg" [disabled]="!editRegionForm.valid"> <i class="material-icons">save</i></button>
                            </div>
                            <ul>
                                <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                            </ul>
                        </form>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <div [hidden]="type !== 'regija'" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">location_on</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'REGIONS_EDIT_POLYGON_CARD_NAME' | translate}}</h4>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="pull-left">
                                    <legend>{{'REGIONS_EDIT_MAP_TITLE' | translate}}</legend>
                                </div>
                                <div id="map"></div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="pull-left">
                                    <legend>{{'IMAGE_COVER_TITLE' | translate}}</legend>
                                </div>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img *ngIf="coverFile == null" src="./assets/img/placeholder-cover.jpg" alt="...">
                                        <img *ngIf="coverFile !== null" [src]="coverFile" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                        <span class="btn btn-rose btn-block btn-file">
                                <span class="fileinput-new">{{'BUTTONS_ADD_COVER' | translate}}</span>
                                        <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                        <input (change)="onUploadCover($event)" type="file" name="cover_image" />
                                        </span>
                                        <a href="#" #coverPath class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                    </div>
                                </div>
                                <ul class="path-list">
                                    <li *ngFor="let point of pointsArray; let i = index">
                                        <span class="letter">{{point.letter}} Marker</span>
                                        <button matTooltip="{{'BUTTONS_DELETE_MARKERS' | translate}}" matTooltipPosition="above" class="btn btn-danger btn-xs btn-simple" (click)="removePoint(i, pointsArray)">
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul>
                            <!-- <li><strong>U okviru polja <i>Adresa</i> unosite vinarije , a zatim bližu lokaciju odredite pomeranjem pina na mapi!</strong></li>
                        <li><span class="star">*</span> obeležena polja su obavezna!</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>