ul.dropdown-menu.dropdown-menu-left {
    cursor: pointer;
}

.form-full-width {
    width: 100%;
}

.rec_high-align {
    padding: 0;
    margin: 0;
}

#langDropdown {
    margin-top: -10px;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.progress {
    margin: 0px;
}

agm-map {
    height: 300px;
}

i.fcancel.material-icons {
    cursor: pointer;
    z-index: 999;
    color: red;
    font-size: 32px;
    padding: 8px;
}

div#card-winery {
    margin-top: 45px;
}

a.material-icons.cancel-time {
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 5px;
}

.row.area-space {
    padding-top: 30px;
}

.gallery-image {
    height: auto;
}

.fileinput-gallery {
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
}

.padding {
    padding-bottom: 10px;
}

.preview {
    padding: 1px;
    position: relative;
    width: auto;
    max-height: 100%;
}

.remove-image {
    position: absolute;
    top: 0;
    right: 0;
}

i.material-icons {
    cursor: pointer;
}

.imageMask i.material-icons {
    display: block;
    z-index: 999;
}

.gu-transit.imageMask:hover img {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px);
}

.imageMask {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: auto;
    border: 2px solid gray;
    display: inline-block;
    position: relative;
    height: 100px;
}

.padding-images {
    padding: 0px;
}

.drag_indicator {
    cursor: move;
}

.gu-transit.imageMask i.material-icons {
    display: none;
}

.gu-transit {
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px); */
    border: 2px solid red;
}

.gu-mirror {
    display: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: inherit;
    font-weight: 700;
    color: white;
    background-color: #920000;
    display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
    cursor: pointer;
}

.inputfile+label {
    cursor: pointer;
    width: 120px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    /* "hand" cursor */
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.fileinput.fileinput-new.text-center {
    align-self: center;
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
    width: 70%;
    margin-left: 15%;
    max-width: 100%;
    height: 100%;
}
.fileinput.fileinput-exists.text-center {
    align-self: center;
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
    width: 70%;
    margin-left: 15%;
    max-width: 100%;
    height: 100%;
}

.fileinput .thumbnail {
    max-width: 100%;
}
.pull-left {
    width: 100%;
}
legend {
    text-align: left;
}
div.images-wrap {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

li {
    list-style-type: none;
}

ul>li.videolist {
    list-style-type: none;
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    padding-top: 10px;
    border-bottom: 1px solid #920000;
    padding-right: 5px;
    position: relative;
}

ul {
    width: 85%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

i.material-icons.remove-video {
    cursor: pointer;
    position: relative;
    padding-top: 5px;
    top: 0;
    right: 0;
    color: red;
}

span.star.desc-alert {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: -15px;
    padding-bottom: 5px;
}

.save-button-container {
    display: block;
    height: 65px;
    box-sizing: border-box;
}

::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  border: none;
  background-color: #f44336 !important;
}

agm-map {
    height: 600px;
}

.thumb-logo-img {
    width: 180px;
    margin: auto;
}

.new-logo-img {
    width: 180px;
    margin: auto;
}


ul.path-list {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.path-list li {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid;
    border-color: #920000;
    margin-bottom: 5px;
    font-size: 20px;
    font-style: bold;
}

ul.path-list li:hover {
    border-color: red;
}

ul.path-list li span.letter {
    font-size: 18px;
    color: #920000;
    font-weight: normal;
}

span.video-name {
    width: 100%;
    padding: 8px;
    position: relative;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
}