<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="wineryForm" novalidate (ngSubmit)="onSubmit()">
                <div class="col-md-offset-1 col-md-10">
                    <div class="dropdown" *ngIf="wineryForm.controls['items']['controls']['length'] == 0">
                        <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}
                            <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                            <li *ngFor="let lang of langs">
                                <a (click)="addItem(lang)">{{ lang.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div formArrayName="items" *ngFor="let item of wineryForm.controls['items']['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">language</i>
                                </div>
                                <div class="pull-right remove-btn">
                                    <h4 class="card-title" matTooltip="Brisanje jezika" matTooltipPosition="left">
                                        <i (click)="onRemoveLangs(item.controls['language_id'].value, item.controls['language_name'].value  , i)"
                                            class="fcancel material-icons">delete_sweep</i>
                                    </h4>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">{{item.controls['language_name'].value}}</h4>
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="row">
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'WINERY_EDIT_WINERY_NAME_LABEL' | translate}}
                                                    <span class="star">*</span>
                                                </mat-label>
                                                <input type="text" matInput placeholder="Ime" formControlName="wineryName">
                                                <mat-error>
                                                    <span *ngIf="item.controls['wineryName'].touched && item.controls['wineryName'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="row ">
                                            <label for="padding-texteditor">{{'WINERY_EDIT_WINERY_DESC_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </label>
                                            <div id="padding-texteditor">
                                                <quill-editor [style]="{'min-height': '100px'}" [modules]="modules" class="text-editor" type="text" placeholder="{{'WINERY_EDIT_WINERY_DESC_PLACEHOLDER' | translate}}" formControlName="wineryDesc"></quill-editor>
                                            </div>
                                            <span class="star desc-alert" *ngIf="item.controls['wineryDesc'].touched && item.controls['wineryDesc'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                            </span>
                                            <!-- <mat-form-field class="form-full-width">
                                                
                                                <mat-label>Opis vinarije<span class="star">*</span></mat-label>
                                                <textarea matInput type="text" placeholder="Opis..." formControlName="wineryDesc"></textarea>
                                                <mat-error>
                                                    
                                                </mat-error>
                                            </mat-form-field> -->
                                            <div *ngIf="item.controls['flag'].value == 1" class="save-button-container">
                                                <button type="button" (click)="onSaveLanguage(item)" class="btn btn-rose btn-fill btn-wd pull-right" [disabled]="!item.valid">{{'LANG_SAVE_BUTTON_TITLE' | translate}}</button>
                                            </div>
                                            <div id="langDropdown" class="dropdown" *ngIf="wineryForm.get('items').controls.length == i+1 && langs.length !== 0">
                                                <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}
                                                    <b class="caret"></b>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-left">
                                                    <li class="dropdown-header">{{'LANG_DROPDOWN_TITLE' | translate}}</li>
                                                    <li *ngFor="let lang of langs">
                                                        <a (click)="addItem(lang)">{{ lang.name }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <div id="card-winery" class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'WINERY_EDIT_CARD_NAME' | translate}}</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="pull-left">
                                                <legend>{{'IMAGE_LOGO_TITLE' | translate}}</legend>
                                            </div>
                                            <div class="fileinput-new thumbnail thumb-logo-img">
                                                <img *ngIf="logo_image !== null" [src]="logo_image" alt="...">
                                                <img *ngIf="logo_image === null" src="./assets/img/placeholder-logo.jpg" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail new-logo-img"></div>
                                            <div>
                                                <span class="btn btn-rose btn-block btn-file">
                                                    <span class="fileinput-new">{{'BUTTONS_ADD_IMAGE' | translate}}</span>
                                                <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                                <input (change)="onUploadLogo($event)" type="file" name="logo_image" accept="image/*" />
                                                </span>
                                                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                    <i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="pull-left">
                                                <legend>{{'IMAGE_COVER_TITLE' | translate}}</legend>
                                            </div>
                                            <div class="fileinput-new thumbnail">
                                                <img *ngIf="cover_image !== null" [src]="cover_image" alt="...">
                                                <img *ngIf="cover_image === null" src="./assets/img/placeholder-cover.jpg" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-rose btn-block btn-file">
                                                    <span class="fileinput-new">{{'BUTTONS_ADD_COVER' | translate}}</span>
                                                <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                                <input type="file" (change)="onUploadCover($event)" name="cover_image" accept="image/*" />
                                                </span>
                                                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                    <i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="pull-left">
                                                <legend>{{'VIDEO_TITLE' | translate}}</legend>
                                            </div>
                                            <div class="fileinput-new thumbnail">
                                                <img [src]="videoImage" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-rose btn-block btn-file">
                                                    <span class="fileinput-new">{{'BUTTONS_ADD_VIDEO' | translate}}</span>
                                                <span class="fileinput-exists">{{'BUTTONS_CHANGE_IMAGE' | translate}}</span>
                                                <input type="file" (change)="onUploadVideo($event)" name="..." accept="video/mp4" />
                                                </span>
                                                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                    <i class="fa fa-times"></i>{{'BUTTONS_REMOVE_IMAGE' | translate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="pull-left">
                                            <legend>{{'WINERY_EDIT_WORKING_HOURS_LABEL' | translate}}</legend>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="togglebutton">
                                            <label>
                                                <input name="mondayFriday" formControlName="mondayFriday" type="checkbox" checked>
                                                <span *ngIf="ponpetTime !== '/'">{{'WINERY_EDIT_MONDAY_FRIDAY' | translate}} {{ponpetTime}}</span>
                                                <span *ngIf="ponpetTime === '/'">{{'WINERY_EDIT_MONDAY_FRIDAY_NOT_WORKING' | translate}}</span>
                                            </label>
                                            <a (click)="onRemoveTime('ponpet')" matTooltip="{{'WINERY_EDIT_CANCEL_TIME_TOOLTIP' | translate}}" matTooltipPosition="right">
                                                <i class="material-icons cancel-time">close</i>
                                            </a>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3" [hidden]="wineryForm.controls['mondayFriday'].value === '' || wineryForm.controls['mondayFriday'].value === false">
                                                    <div class="form-group label-floating column-sizing">
                                                        <input name="mondayFridayTimeStart" placeholder="{{'WINERY_EDIT_START_HOURS_PLACEHOLDER' | translate}}" type="text" class="form-control timepicker" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-3" [hidden]="wineryForm.controls['mondayFriday'].value === '' || wineryForm.controls['mondayFriday'].value === false">
                                                    <div class="form-group label-floating column-sizing">
                                                        <input name="mondayFridayTimeEnd" placeholder="{{'WINERY_EDIT_END_HOURS_PLACEHOLDER' | translate}}" type="text" class="form-control timepicker" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="togglebutton">
                                            <label>
                                                <input name="saturday" formControlName="saturday" type="checkbox">
                                                <span *ngIf="subTime !== '/'">{{'WINERY_EDIT_SATURDAY' | translate}} {{subTime}}</span>
                                                <span *ngIf="subTime === '/'">{{'WINERY_EDIT_SATURDAY_NOT_WORKING' | translate}}</span>
                                            </label>
                                            <a (click)="onRemoveTime('sub')" matTooltip="{{'WINERY_EDIT_CANCEL_TIME_TOOLTIP' | translate}}" matTooltipPosition="right">
                                                <i class="material-icons cancel-time">close</i>
                                            </a>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3" [hidden]="wineryForm.controls['saturday'].value === '' || wineryForm.controls['saturday'].value === false">
                                                    <div class="form-group label-floating column-sizing">
                                                        <input name="saturdayTimeStart" type="text" placeholder="{{'WINERY_EDIT_START_HOURS_PLACEHOLDER' | translate}}" class="form-control timepicker" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-3" [hidden]="wineryForm.controls['saturday'].value === '' || wineryForm.controls['saturday'].value === false">
                                                    <div class="form-group label-floating column-sizing">
                                                        <input name="saturdayTimeEnd" type="text" placeholder="{{'WINERY_EDIT_END_HOURS_PLACEHOLDER' | translate}}" class="form-control timepicker" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="togglebutton">
                                            <label>
                                                <input name="sunday" formControlName="sunday" type="checkbox">
                                                <span *ngIf="nedTime !== '/'">{{'WINERY_EDIT_SUNDAY' | translate}} {{nedTime}}</span>
                                                <span *ngIf="nedTime === '/'">{{'WINERY_EDIT_SUNDAY_NOT_WORKING' | translate}}</span>
                                            </label>
                                            <a (click)="onRemoveTime('ned')" matTooltip="{{'WINERY_EDIT_CANCEL_TIME_TOOLTIP' | translate}}" matTooltipPosition="right">
                                                <i class="material-icons cancel-time">close</i>
                                            </a>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3" [hidden]="wineryForm.controls['sunday'].value === '' || wineryForm.controls['sunday'].value === false">
                                                    <div class="form-group label-floating column-sizing">
                                                        <input name="sundayTimeStart" placeholder="{{'WINERY_EDIT_START_HOURS_PLACEHOLDER' | translate}}" type="text" class="form-control timepicker" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-3" [hidden]="wineryForm.controls['sunday'].value === '' || wineryForm.controls['sunday'].value === false">
                                                    <div class="form-group label-floating column-sizing">
                                                        <input name="sundayTimeEnd" placeholder="{{'WINERY_EDIT_END_HOURS_PLACEHOLDER' | translate}}" type="text" class="form-control timepicker" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row area-space">
                                    <div class="col-md-6">
                                        <div class="col-md-6 rec_high-align">
                                            <mat-checkbox color="warn" formControlName="recommended">{{'WINERY_EDIT_RECOMMENDED_LABEL' | translate}}</mat-checkbox>
                                        </div>
                                        <div class="col-md-6 rec_high-align">
                                            <mat-checkbox color="warn" formControlName="highlighted">{{'WINERY_EDIT_HIGHLIGHTED_LABEL' | translate}}</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-3">
                                        <!-- lista regija -->
                                        <mat-form-field class="form-full-width">
                                            <mat-label>{{'WINERY_EDIT_REGION_LIST_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </mat-label>
                                            <mat-select formControlName="listOfRegions" [value]="wineryForm.controls['listOfRegions'].value" placeholder="odaberite regiju">
                                                <mat-option *ngFor="let region of regionsList" [value]="region.id" (click)="dropdownValueRegion(region.id)">{{region.name}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="wineryForm.controls['listOfRegions'].touched && wineryForm.controls['listOfRegions'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                        <!-- lista reona -->
                                        <mat-form-field class="form-full-width">
                                            <mat-label>{{'WINERY_EDIT_REON_LIST_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </mat-label>
                                            <mat-select formControlName="listOfReons" [value]="wineryForm.controls['listOfReons'].value" placeholder="odaberite regiju">
                                                <mat-option *ngFor="let reon of reonsList" [value]="reon.id" (click)="dropdownValueReon(reon.id)">{{reon.name}} {{reon.type}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="wineryForm.controls['listOfReons'].touched && wineryForm.controls['listOfReons'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                        <!-- lista vingorja -->
                                        <mat-form-field class="form-full-width">
                                            <mat-label>{{'WINERY_EDIT_VINOGORJE_LIST_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </mat-label>
                                            <mat-select formControlName="listOfVinogorja" [value]="wineryForm.controls['listOfVinogorja'].value" placeholder="odaberite regiju">
                                                <mat-option *ngFor="let vinogorje of vinogorjaList" [value]="vinogorje.id" (click)="dropdownValueVinogorje(vinogorje.id)">{{vinogorje.name}} {{vinogorje.type}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="wineryForm.controls['listOfVinogorja'].touched && wineryForm.controls['listOfVinogorja'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="form-full-width">
                                            <mat-label>{{'WINERY_EDIT_SELECT_WINERY_ADMIN_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </mat-label>
                                            <mat-select formControlName="admins" multiple>
                                                <mat-option *ngFor="let admin of listOfAdmins" [value]="admin.id">{{admin.full_name}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="wineryForm.controls['admins'].touched && wineryForm.controls['admins'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <mat-form-field class="form-full-width">
                                                <mat-label>Telefon</mat-label>
                                                <input matInput type="text" placeholder="Broj telefona  primer: 12345678" formControlName="contact">
                                                <mat-error>
                                                    <span *ngIf="wineryForm.controls['contact'].touched && wineryForm.controls['contact'].hasError('pattern')" [innerHTML]="'WINERY_EDIT_PHONE_NO_PLACEHOLDER' | translate">
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <mat-form-field class="form-full-width">
                                                <mat-label>{{'WINERY_EDIT_PHONE_CONTACT_LABEL' | translate}}</mat-label>
                                                <input matInput type="text" placeholder="{{'WINERY_EDIT_PHONE_CONTACT_PLACEHOLDER' | translate}}" formControlName="contact_person">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="form-full-width">
                                            <mat-label>{{'WINERY_EDIT_WEB_PAGE_LABEL' | translate}}</mat-label>
                                            <input matInput type="text" placeholder="{{'WINERY_EDIT_WEB_PAGE_PLACEHOLDER' | translate}}" formControlName="webpage">
                                            <mat-error>
                                                <span *ngIf="wineryForm.controls['webpage'].touched && wineryForm.controls['webpage'].hasError('pattern')" [innerHTML]="'ADDONS_WEB_FIELD_PATTERN' | translate">
                                            </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button id="floating-button" matTooltip="{{'WINERY_EDIT_ADD_BUTTON_TITLE' | translate}}" matTooltipPosition="above" type="submit" mat-raised-button class="btn btn-rose btn-lg" [disabled]="!wineryForm.valid">
                                        <i class="material-icons">save</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">location_on</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'WINERY_EDIT_LOCATION_CARD_TITLE' | translate}}</h4>
                            <mat-form-field class="form-full-width">
                                <mat-label>{{'WINERY_EDIT_WINERY_ADDRESS' | translate}}
                                    <span class="star">*</span>
                                </mat-label>
                                <input matInput type="text" placeholder="Ulica" name="address" formControlName="address" #address>
                                <mat-error>
                                    <span *ngIf="wineryForm.controls['address'].touched && wineryForm.controls['address'].hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                    </span>
                                </mat-error>
                            </mat-form-field>
                            <agm-map [scrollwheel]="false" [mapDraggable]="'true'" (mapClick)="onChoseLocation($event)" [latitude]="lat" [longitude]="lng" [zoom]="16">
                                <agm-marker [markerDraggable]="true" [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map>
                            <ul>
                                <li [innerHTML]="'WINERY_EDIT_LOCATION_TIPS' | translate"></li>
                                <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="darkred">
                            <i class="material-icons">location_on</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'WINERY_EDIT_GALLERY_CARD_TITLE' | translate}}</h4>
                            <!-- video upload   -->
                            <div class="col-md-3">
                                <div class="row">
                                    <input class="inputfile" id="video_gallery" type="file" (change)="onUploadVideoFiles($event)" name="video_gallery" accept="video/mp4" multiple>
                                    <label for="video_gallery">{{'BUTTONS_GALLERY_ADD_VIDEOS' | translate}}</label>
                                   <!--  <ul>
                                        <li class="videolist" *ngFor="let video of videos; let i = index"><i matTooltip="{{'BUTTONS_GALLERY_DELETE_VIDEO_TOOLTIP' | translate}}" matTooltipPosition="above" class="material-icons remove-video" (click)="removeVideo(i, video)">delete_sweep</i>{{video.file.name}}</li>
                                    </ul> -->
                                    <ul class="path-list">
                                        <li *ngFor="let video of videos; let i = index">
                                            <span class="video-name">{{video.file.name}}</span>
                                            <i matTooltip="{{'BUTTONS_GALLERY_DELETE_VIDEO_TOOLTIP' | translate}}" matTooltipPosition="above" class="material-icons remove-video" (click)="removeVideo(i, video)">delete_sweep</i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- image upload  -->
                            <div class="col-md-9">
                                <div class="row">
                                    <input class="inputfile" id="image_gallery" (change)="onUploadImageFiles($event)" type="file" name="gallery" accept="image/*" multiple>
                                    <label for="image_gallery">{{'BUTTONS_GALLERY_ADD_IMAGES' | translate}}</label>
                                </div>
                                <div class="row">
                                    <div class="fileinput-gallery" data-provides="fileinput">
                                        <div class="images-wrap m-5" [dragula]='"gallery-bag"' [dragulaModel]='images'>
                                            <div id="{{image.file.id}}" class="imageMask" *ngFor="let image of images; let i=index;">
                                                <i matTooltip="{{'BUTTONS_GALLERY_DELETE_IMAGES_TOOLTIP' | translate}}" matTooltipPosition="above" class="star material-icons remove-image" (click)="removeImage(i, image)">delete_sweep</i>
                                                <img class="drag_indicator preview" src="{{image.src}}" alt="slika">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>