<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">store_mall_directory</i>
                    </div>
                    <div class="card-content">
                        <p class="category">{{'CONTROL_BOARD_WINERY_CARD_TITLE' | translate}}</p>
                        <h3 class="card-title">{{StatisticNumbers?.wineries}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">local_bar</i>
                    </div>
                    <div class="card-content">
                        <p class="category">{{'CONTROL_BOARD_WINE_CARD_TITLE' | translate}}</p>
                        <h3 class="card-title">{{StatisticNumbers?.wines}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                    <div class="card-content">
                        <p class="category">{{'CONTROL_BOARD_USER_CARD_TITLE' | translate}}</p>
                        <h3 class="card-title">{{StatisticNumbers?.users}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">event</i>
                    </div>
                    <div class="card-content">
                        <p class="category">{{'CONTROL_BOARD_EVENTS_CARD_TITLE' | translate}}</p>
                        <h3 class="card-title">{{StatisticNumbers?.events}}</h3>
                    </div>
                    <!-- <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-product">
                    <div class="card-image" data-header-animation="true">
                        <a routerLink="">
                            <img class="img" src="./assets/img/card1.jpg">
                        </a>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'CONTROL_BOARD_WINERY_CARD_TITLE' | translate}} - {{StatisticNumbers?.wineries}}</h4>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> {{'CONTROL_BOARD_UPDATE_STATUS' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card card-chart">
                    <div class="card-header" data-background-color="green" data-header-animation="true">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Vinarije - 184</h4>
                        <p class="category">
                            <!-- <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> ažurirano pre 4 minuta
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <div class="card card-product">
                    <div class="card-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="./assets/img/card2.jpg">
                        </a>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'CONTROL_BOARD_WINE_CARD_TITLE' | translate}} - {{StatisticNumbers?.wines}}</h4>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> {{'CONTROL_BOARD_UPDATE_STATUS' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card card-chart">
                    <div class="card-header" data-background-color="orange" data-header-animation="true">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Vina - 75.521</h4>
                        <!-- <p class="category">Last Campaign Performance</p> 
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> ažurirano pre 4 minuta
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <div class="card card-product">
                    <div class="card-image" data-header-animation="true">
                        <a href="#">
                            <img (click)="loadingWineries()" class="img" src="./assets/img/card3.jpg">
                        </a>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'CONTROL_BOARD_USER_CARD_TITLE' | translate}} - {{StatisticNumbers?.users}}</h4>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> {{'CONTROL_BOARD_UPDATE_STATUS' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card card-chart">
                    <div class="card-header" data-background-color="red" data-header-animation="true">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Korisnici - 45</h4>
                        <!-- <p class="category">Last Campaign Performance</p> 
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> ažurirano pre 4 minuta
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>