/* You can add global styles to this file, and also import other style files */
@import '~@ngx-gallery/core/styles/gallery.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
.mat-form-field-ripple {
    background-color: #920000;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #920000;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
    background-color: #920000;
}

.pull-right.remove-btn {
    z-index: 999;
    position: relative;
}

.my-mat-header-cell {
    flex: 0 0 20%;
}

.togglebutton label input[type=checkbox]:checked+.toggle {
    background-color: #920000;
}

.bootstrap-datetimepicker-widget a[data-action] {
    color: #920000;
}

#padding-texteditor {
    padding-bottom: 15px;
}

#floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #920000;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 999;
    padding: 0;
    margin: 0;
}

#floating-button>i {
    line-height: 50px;
    font-size: 30px;
    font-weight: 200;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#floating-above-button>i {
    line-height: 50px;
    font-size: 30px;
    font-weight: 200;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#floating-above-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #920000;
    position: fixed;
    bottom: 95px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 999;
    padding: 0;
    margin: 0;
}