<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="floating-button" (click)="onAddType()" mat-raised-button matTooltip="{{'WINE_SORT_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" class="btn btn-rose btn-lg"> <i class="material-icons">add</i></button>
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'WINE_SORT_CARD_NAME' | translate}}</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <mat-form-field class="form-full-width">
                                <mat-label>{{'LANG_DROPDOWN_TITLE' | translate}}</mat-label>
                                <mat-select [value]="selectedLanguage" placeholder="{{'LANG_DROPDOWN_TITLE' | translate}}">
                                    <mat-option *ngFor="let language of languages" [value]="language.id" (click)="onChangeLanguage(language.id, language.name)">{{language.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="material-datatables table-responsive">
                            <div class="loading_spinner" *ngIf="dataSource.loading$ | async">

                                <mat-spinner [diameter]="40"></mat-spinner>

                            </div>
                            <mat-table class="winery-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData($event)">

                                <ng-container matColumnDef="id">

                                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>

                                    <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="name">

                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'WINE_SORT_TABLE_NAME' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.name}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="description">

                                    <mat-header-cell *matHeaderCellDef>{{'WINE_SORT_TABLE_DESC' | translate}}</mat-header-cell>

                                    <mat-cell class="description-cell" *matCellDef="let element">{{element.description}}</mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="actions">

                                    <mat-header-cell *matHeaderCellDef>{{'WINE_SORT_TABLE_ACTIONS' | translate}}</mat-header-cell>

                                    <mat-cell class="actions-cell" *matCellDef="let element">
                                        <button matTooltip="{{'TABLES_EDIT_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onEditType(element.id)" type="button" rel="tooltip" class="btn btn-just-icon btn-success rounded"><i class="material-icons">edit</i></button>
                                        <button matTooltip="{{'TABLES_DELETE_TOOLTIP' | translate}}" matTooltipPosition="above" (click)="onDeleteType(element.id, element.name)" type="button" rel="tooltip" class="btn btn-just-icon btn-danger rounded"><i class="material-icons">delete_sweep</i></button>
                                    </mat-cell>

                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                            </mat-table>

                            <mat-paginator [length]="total" [pageSize]="pageSize"></mat-paginator>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>