<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div class="card">
                    <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">create</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{'USERS_EDIT_CARD_NAME' | translate}}</h4>

                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_EDIT_USER_NAME_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input type="text" matInput placeholder="{{'USERS_EDIT_USER_NAME_PLACEHOLDER' | translate}}" formControlName="full_name">
                                <mat-error>
                                    <span *ngIf="userForm.controls.full_name.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_EDIT_USER_EMAIL_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input type="email" matInput placeholder="{{'USERS_EDIT_USER_EMAIL_PLACEHOLDER' | translate}}" formControlName="email">
                                <mat-error>
                                    <span *ngIf="userForm.controls.email.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                    <span *ngIf="userForm.controls.email.hasError('pattern')" [innerHTML]="'ADDONS_USERS_FIELD_EMAIL_PATTERN' | translate"></span>
                                    <span *ngIf="userForm.controls.email.invalid"><strong>{{errorEmail}}</strong></span>
                                </mat-error>
                            </mat-form-field>
                          <!--   <mat-form-field  class="form-full-width" *ngIf="type === 'user' && type === 'trusted'">
                                <mat-label>Tip korisnika</mat-label>
                                <mat-select formControlName="type" placeholder="Izaberite jezik">
                                    <mat-option [value]="user" (click)="onChangeType('user')">User</mat-option>
                                    <mat-option [value]="trusted" (click)="onChangeType('trusted')">Trusted</mat-option>
                                </mat-select>
                            </mat-form-field> -->

                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_EDIT_USER_OLD_PASSWORD_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input [type]="hide2 ? 'password':'text'" matInput placeholder="{{'USERS_EDIT_USER_OLD_PASSWORD_PLACEHOLDER' | translate}}" formControlName="old_password">
                                <mat-icon matTooltip="Prikaži lozinku" matTooltipPosition="above" matSuffix (click)="hide2 = !hide2">{{ hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error>
                                    <span *ngIf="userForm.controls.old_password.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                    <span *ngIf="userForm.controls.old_password.invalid"><strong>{{errorOldPassword}}</strong></span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_EDIT_USER_NEW_PASSWORD_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input [type]="hide ? 'password':'text'" matInput placeholder="{{'USERS_EDIT_USER_NEW_PASSWORD_PLACEHOLDER' | translate}}" formControlName="password">
                                <mat-icon matTooltip="{{'USERS_EDIT_TOOLTIP_EYE' | translate}}" matTooltipPosition="above" matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error>
                                    <span *ngIf="userForm.controls.password.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                    <span *ngIf="userForm.controls.password.invalid"><strong>{{errorPasswordLength}}</strong></span>
                                    <span *ngIf="userForm.controls.password.hasError('pattern')" [innerHTML]="'ADDONS_USERS_FIELD_PASSWORD_MISS_PATTERN' | translate"></span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="form-full-width">
                                <mat-label>{{'USERS_EDIT_USER_CONFIRM_NEW_PASSWORD_LABEL' | translate}}<span class="star">*</span></mat-label>
                                <input type="password" matInput placeholder="{{'USERS_EDIT_USER_CONFIRM_NEW_PASSWORD_PLACEHOLDER' | translate}}" formControlName="confirmPassword">
                                <mat-error>
                                    <span *ngIf="userForm.controls.confirmPassword.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></span>
                                    <span *ngIf="userForm.controls.confirmPassword.hasError('equalTo')" [innerHTML]="'ADDONS_USERS_FIELD_CONFIRM_PASSWORD_NOT_EQUAL' | translate"></span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>{{'USERS_EDIT_USER_SELECT_TYPE_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </mat-label>
                                            <mat-select formControlName="type" placeholder="odaberite regiju">
                                                <mat-option *ngFor="let type of listOfTypes" [value]="type.name" (click)="onSelectAdminType(type.id, type.name)">{{type.name}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="userForm.controls.type.touched && userForm.controls.type.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                </span>
                                            </mat-error>
                            </mat-form-field>

                            <mat-form-field *ngIf="isWineryAdmin || userForm.controls.type.value !== 'admin'">
                                <mat-label>{{'USERS_EDIT_USER_SELECT_WINERIES_LABEL' | translate}}
                                                <span class="star">*</span>
                                            </mat-label>
                                            <mat-select formControlName="wineries" multiple>
                                                <mat-option *ngFor="let winery of listOfWineries" [value]="winery.id">{{winery.name}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="userForm.controls.wineries.touched && userForm.controls.wineries.hasError('required')" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate">
                                                </span>
                                            </mat-error>
                            </mat-form-field>

                            <div class="category form-category">
                                <ul>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_LONG_LABEL' | translate}}</li>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_LOW_CASE_LABEL' | translate}}</li>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_UPPER_CASE_LABEL' | translate}}</li>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_NUMBER_LABEL' | translate}}</li>
                                    <li>{{'USERS_PASSWORD_REQUIREMENTS_SPECIAL_CHAR_LABEL' | translate}}</li>
                                    <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                                    <li><strong>{{'USERS_EDIT_ADDITIONAL_TIPS' | translate}}</strong></li>
                                </ul>
                            </div>
                            <div class="form-footer text-right">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-rose btn-fill btn-wd" [disabled]="!userForm.valid">{{'USERS_EDIT_REGISTER_BUTTON_LABEL' | translate}}</button>
                                    <button type="button" class="btn btn-rose btn-simple pull-left" (click)="goBack()">{{'USERS_EDIT_BACK_BUTTON_LABEL' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->

            <div class="col-md-4 col-lg-3">
                <div class="card card-pricing card-raised">
                    <div class="content">
                        <h6 class="category">{{'USERS_EDIT_USER_PROFILE' | translate}}</h6>
                        <div class="icon icon-rose">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <h3 class="card-title">{{userForm.controls.full_name.value}}</h3>
                        <div class="row">
                            <div class="form-group">
                                <p class="form-control-static">{{userForm.controls.email.value}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- end row -->
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-6">

        </div>
    </div>
</div>