<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="darkred">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{'POI_ADD_POI_MAP_TITLE' | translate}}</h4>
                        <div id="map_demo"></div>
                        <ul>
                            <li><strong [innerHTML]="'POI_ADD_POI_MAP_TIP' | translate"></strong></li>
                            <li [innerHTML]="'ADDONS_REQUIRED_FIELD_LABEL' | translate"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <!--<form [formGroup]="addWinePathForm" (ngSubmit)="onSubmit($e)" novalidate>
                    <div class="col-md-8">
                        <div formArrayName="languages" class="border-devider">
                            <div *ngFor="let lng of addWinePathForm.controls.languages.controls; let i=index">
                                <div class="card" [formGroupName]="i">
                                    <div class="card-header card-header-icon" data-background-color="darkred">
                                        <i class="material-icons">text_format</i>
                                    </div>
                                    <div class="pull-right remove-btn" *ngIf="i !== 0" (click)="removeLanguage($event, i, lng.controls['language_id'].value)">
                                        <i class="material-icons">
                                            cancel
                                        </i>
                                    </div>
                                    <div class="card-content">
                                        <h4 *ngFor="let lang of languagesArray" [hidden]="lang.id !== lng.controls['language_id'].value" class="card-title">Naziv ( {{ lang.name }} )</h4>
                                        <div class="form-group label-floating">
                                            <label  for="" class="control-label">Naziv vinskog puta
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" formControlName="value" required>
                                            <small class="text-danger" *ngIf="lng.controls['value'].hasError('required') && lng.controls['value'].touched">Ovo polje je obavezno.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 pull-right">
                                    <div class="dropdown" *ngIf="addWinePathForm.controls['languages'].length !== languagesArray.length"> 
                                        <button class="dropdown-toggle btn btn-rose btn-round btn-block" data-toggle="dropdown">Dodaj jezik
                                            <b class="caret"></b>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-left">
                                            <li *ngFor="let lang of languagesArray" [hidden]="usedLanguages[lang.id] == lang.id">
                                                <a (click)="addLanguage(lang.id)">{{ lang.name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="darkred">
                                <i class="material-icons">image</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Slika</h4>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img src="../../assets/img/image_placeholder.jpg" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                        <span class="btn btn-rose btn-round btn-file">
                                            <span class="fileinput-new">Selektuj sliku</span>
                                            <span class="fileinput-exists">Izmeni</span>
                                            <input type="file" name="..." (change)="onFileChange($event)"  />
                                        </span>
                                        <a href="#asdas" #pathImg class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Obriši</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button [disabled]="!addWinePathForm.valid" type="submit" class="btn btn-rose">Sačuvaj</button>
                    </div>
                </form>-->
                </div>
            </div>
            <div class="col-md-6">
                <form [formGroup]="addPoiForm" (ngSubmit)="onSubmit()" novalidate>


                    <div formArrayName="languages" class="border-devider">
                        <div *ngFor="let lng of addPoiForm.controls['languages']['controls']; let i=index">
                            <div class="card" [formGroupName]="i">
                                <div class="card-header card-header-icon" data-background-color="darkred">
                                    <i class="material-icons">text_format</i>
                                </div>
                                <div matTooltip="{{'LANG_DELETE_TOOLTIP' | translate}}" matTooltipPosition="left" class="pull-right remove-btn" *ngIf="i !== 0" (click)="removeLanguage($event, i, lng.controls['language_id'].value)">
                                    <i class="material-icons">
                                        delete_sweep
                                    </i>
                                </div>
                                <div class="card-content">
                                    <h4 *ngFor="let lang of languagesArray" [hidden]="lang.id !== lng.controls['language_id'].value" class="card-title">{{'POI_ADD_LANG_NAME_TITLE' | translate}} ( {{ lang.name }} )</h4>
                                    <div class="form-group label-floating">
                                        <label for="" class="control-label">{{'POI_ADD_POI_NAME' | translate}}
                                            <span class="star">*</span>
                                        </label>
                                        <input type="text" class="form-control" formControlName="value" required>
                                        <small class="text-danger" *ngIf="lng.controls['value'].hasError('required') && lng.controls['value'].touched" [innerHTML]="'ADDONS_FIELD_REQUIRED' | translate"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 pull-right">
                                <div class="dropdown" *ngIf="addPoiForm.controls['languages']['controls']['length'] !== languagesArray.length">
                                    <button class="dropdown-toggle btn btn-rose btn-block" data-toggle="dropdown">{{'LANG_ADD_BUTTON_TITLE' | translate}}
                                        <b class="caret"></b>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li *ngFor="let lang of languagesArray" [hidden]="usedLanguages[lang.id] == lang.id">
                                            <a (click)="addLanguage(lang.id)">{{ lang.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{{'POI_ADD_POI_ADDRESS_LABEL' | translate}}</label>
                                <input type="text" placeholder="{{'POI_ADD_POI_ADDRESS_LABEL' | translate}}" formControlName="address" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="col-md-12">
                            <div class="form-group label-floating select">
                                <label class="control-label">{{'POI_ADD_POI_TYPE_LABEL' | translate}}</label>
                                <select class="form-control" formControlName="type">
                                <!--<option [value]="" ngDefaultControl>-</option>-->
                                <option *ngFor="let type of placeTypes" [value]="type.id">{{type.name}}</option>
                            </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button id="floating-button" matTooltip="{{'POI_ADD_ADD_BUTTON_TOOLTIP' | translate}}" matTooltipPosition="above" type="submit" [disabled]="!addPoiForm.valid" class="btn btn-rose"><i class="material-icons">save</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>